<template>
  <div class="AboutPost">
    <v-container fill-height fluid>
      <v-card flat class="transparent" title="Edit Profile" text="Complete your profile">
        <v-form>
          <v-container class="py-0">
            <v-row>
              <v-col cols="12">
                <v-btn @click.native="selectFile2" v-if="!uploadEnd2 && !uploading2">
                  Parallax Image
                  <v-icon right aria-hidden="true">mdi-camera</v-icon>
                </v-btn>
                <br />
                <span class="caption">max image size is 3MB</span>
                <form ref="form">
                  <input
                    id="files2"
                    type="file"
                    name="file2"
                    ref="uploadInput2"
                    accept="image/png, image/jpeg, image/bmp"
                    :rules="rules"
                    :multiple="false"
                    @change="detectFiles2($event)"
                  />
                </form>
                <v-progress-circular
                  v-if="uploading2 && !uploadEnd2"
                  :size="100"
                  :width="15"
                  :rotate="360"
                  :value="progressUpload2"
                  color="primary"
                >%</v-progress-circular>

                <div v-if="uploadEnd2">
                  <img v-if="uploadEnd2" :src="downloadURL2" width="120px" />
                  <v-btn
                    class="mx-2 my-2"
                    dark
                    small
                    color="success"
                    @click="uploadParallax()"
                  >Upload</v-btn>
                  <v-btn class="mx-2" dark small color="error" @click="deleteImage2()">Delete</v-btn>
                </div>
              </v-col>
              <v-col cols="12">
                <img v-if="!uploadEnd2" :src="aboutPost.imageParallax" width="120px" />
              </v-col>
              <v-col cols="12">
                <v-text-field outlined label="Title" v-model="aboutPost.title" />

                <v-btn @click.native="selectFile" v-if="!uploadEnd && !uploading">
                  Update an image
                  <v-icon right aria-hidden="true">mdi-camera</v-icon>
                </v-btn>
                <br />
                <span class="caption">max image size is 3MB</span>
                <form ref="form">
                  <input
                    id="files"
                    type="file"
                    name="file"
                    ref="uploadInput"
                    accept="image/png, image/jpeg, image/bmp"
                    :multiple="false"
                    @change="detectFiles($event)"
                  />
                </form>
                <v-progress-circular
                  v-if="uploading && !uploadEnd"
                  :size="100"
                  :width="15"
                  :rotate="360"
                  :value="progressUpload"
                  color="primary"
                >%</v-progress-circular>

                <div v-if="uploadEnd">
                  <img v-if="uploadEnd" :src="downloadURL" width="120px" />
                  <v-btn class="mx-2 my-2" dark small color="success" @click="uploadImage()">Upload</v-btn>
                  <v-btn class="mx-2" dark small color="error" @click="deleteImage()">Delete</v-btn>
                </div>
              </v-col>
              <v-col cols="12">
                <img v-if="!uploadEnd" :src="aboutPost.image" width="120px" />
              </v-col>

              <v-col cols="12">
                <ckeditor
                  id="content"
                  :editor="editor"
                  v-model="aboutPost.content"
                  :config="editorConfig"
                ></ckeditor>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-dialog v-model="dialog1" persistent max-width="600px">
                  <template v-slot:activator="{ on }">
                    <v-card flat class="transparent">
                      <v-card-title>
                        <v-btn tile outlined color="success" v-on="on">
                          <v-icon left>mdi-plus</v-icon>Team
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-text-field
                          v-model="search"
                          append-icon="mdi-search"
                          label="Search"
                          single-line
                          hide-details
                        ></v-text-field>
                      </v-card-title>
                    </v-card>
                    <v-data-table
                      class="transparent"
                      :headers="headers"
                      :items="aboutPost.team"
                      :search="search"
                      :items-per-page="5"
                    >
                      <template v-slot:item.action="{ item }">
                        <v-icon
                          small
                          class="mr-2"
                          color="teal"
                          @click="editItem(item)"
                        >mdi-square-edit-outline</v-icon>
                        <v-icon small color="error" @click="deleteItem(item)">mdi-delete</v-icon>
                      </template>
                    </v-data-table>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">Team</span>
                    </v-card-title>
                    <v-card-text>
                      <v-form>
                        <v-container class="py-0">
                          <v-row>
                            <v-col cols="12">
                              <v-text-field outlined label="Name" v-model="editedItem.name" />
                              <v-text-field outlined label="Role" v-model="editedItem.role" />
                              <v-textarea
                                label="Description"
                                v-model="editedItem.desc"
                                placeholder="Write description here..."
                                auto-grow
                                outlined
                                rows="8"
                              ></v-textarea>
                              <v-text-field
                                outlined
                                label="Instagram"
                                append-icon="mdi-instagram"
                                placeholder="https://instagram.com/"
                                v-model="editedItem.instagram"
                              ></v-text-field>
                              <v-text-field
                                outlined
                                label="Facebook"
                                append-icon="mdi-facebook-box"
                                placeholder="https://facebook.com/"
                                v-model="editedItem.facebook"
                              ></v-text-field>
                              <v-text-field
                                outlined
                                label="Twitter"
                                append-icon="mdi-twitter-box"
                                placeholder="https://twitter.com/"
                                v-model="editedItem.twitter"
                              ></v-text-field>
                              <v-btn @click.native="selectFile1" v-if="!uploadEnd1 && !uploading1">
                                Update an image
                                <v-icon right aria-hidden="true">mdi-camera</v-icon>
                              </v-btn>
                              <br />
                              <span class="caption">max image size is 3MB</span>
                              <form ref="form">
                                <input
                                  id="files1"
                                  type="file"
                                  name="file1"
                                  ref="uploadInput1"
                                  accept="image/png, image/jpeg, image/bmp"
                                  :rules="rules"
                                  :multiple="false"
                                  @change="detectFiles1($event)"
                                />
                              </form>

                              <v-progress-circular
                                v-if="uploading1 && !uploadEnd1"
                                :size="100"
                                :width="15"
                                :rotate="360"
                                :value="progressUpload1"
                                color="primary"
                              >%</v-progress-circular>
                              <img v-if="uploadEnd1" :src="downloadURL1" width="120px" />
                              <div v-if="uploadEnd1">
                                <v-btn
                                  class="ma-0"
                                  dark
                                  small
                                  color="error"
                                  @click="deleteImage1()"
                                >Delete</v-btn>
                              </div>
                            </v-col>
                            <v-col cols="12">
                              <img v-if="!uploadEnd1" :src="editedItem.image" width="120px" />
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-form>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close()">Close</v-btn>
                      <v-btn
                        v-show="!uploadTask1"
                        color="blue darken-1"
                        text
                        @click="addTeam()"
                      >Save</v-btn>
                      <v-btn v-show="uploadEnd1" color="blue darken-1" text @click="addTeam()">Save</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-col>
              <v-col cols="12" class="text-right">
                <v-btn raised color="success" @click="editData()">Update About</v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { db, dbFire } from "@/firebase";
import ClassicEditor from "@ckeditor/ckeditor5-editor-classic/src/classiceditor";

import EssentialsPlugin from "@ckeditor/ckeditor5-essentials/src/essentials";
import BoldPlugin from "@ckeditor/ckeditor5-basic-styles/src/bold";
import ItalicPlugin from "@ckeditor/ckeditor5-basic-styles/src/italic";
import LinkPlugin from "@ckeditor/ckeditor5-link/src/link";
import ParagraphPlugin from "@ckeditor/ckeditor5-paragraph/src/paragraph";
import Base64UploadAdapter from "@ckeditor/ckeditor5-upload/src/adapters/base64uploadadapter";
import Heading from "@ckeditor/ckeditor5-heading/src/heading";
import Font from "@ckeditor/ckeditor5-font/src/font";
import Alignment from "@ckeditor/ckeditor5-alignment/src/alignment";
import Indent from "@ckeditor/ckeditor5-indent/src/indent";
import IndentBlock from "@ckeditor/ckeditor5-indent/src/indentblock";
import List from "@ckeditor/ckeditor5-list/src/list";
import TodoList from "@ckeditor/ckeditor5-list/src/todolist";
import Table from "@ckeditor/ckeditor5-table/src/table";
import TableToolbar from "@ckeditor/ckeditor5-table/src/tabletoolbar";

export default {
  name: "AboutPost",
  components: {},
  data() {
    return {
      search: "",
      uploadD: false,
      dialog1: false,
      headers: [
        { text: "Name", value: "name" },
        { text: "Role", value: "role" },
        { text: "Action", value: "action", sortable: false }
      ],
      team: [],
      editedItem: {
        name: "",
        role: "",
        desc: "",
        instagram: "",
        facebook: "",
        twitter: "",
        image: ""
      },
      defaultItem: {
        name: "",
        role: "",
        desc: "",
        instagram: "",
        facebook: "",
        twitter: "",
        image: ""
      },
      progressUpload: 0,
      fileName: "",
      uploadTask: "",
      uploading: false,
      uploadEnd: false,
      downloadURL: "",
      progressUpload1: 0,
      fileName1: "",
      uploadTask1: "",
      uploading1: false,
      uploadEnd1: false,
      downloadURL1: "",
      progressUpload2: 0,
      fileName2: "",
      uploadTask2: "",
      uploading2: false,
      uploadEnd2: false,
      downloadURL2: "",
      imageUrl: "",
      image: null,
      imageUrl1: "",
      image1: null,
      imageUrl2: "",
      image2: null,
      editor: ClassicEditor,
      editorConfig: {
        plugins: [
          EssentialsPlugin,
          BoldPlugin,
          ItalicPlugin,
          LinkPlugin,
          ParagraphPlugin,
          Base64UploadAdapter,
          Heading,
          Font,
          Alignment,
          Indent,
          IndentBlock,
          List,
          TodoList,
          Table,
          TableToolbar
        ],

        toolbar: {
          items: [
            "heading",
            "bold",
            "italic",
            "|",
            "alignment",
            "outdent",
            "indent",
            "|",
            "bulletedList",
            "numberedList",
            "todoList",
            "|",
            "fontSize",
            "fontFamily",
            "fontColor",
            "fontBackgroundColor",
            "link",
            "insertTable",
            "|",
            "undo",
            "redo"
          ]
        },
        table: {
          contentToolbar: ["tableColumn", "tableRow", "mergeTableCells"]
        }
      },
      aboutPost: [],
      activeItem: null
    };
  },
  firestore() {
    return {
      aboutPost: dbFire.collection("aboutPost").doc("NQ3SRUzg93cm7WDvXnzW"),
      homePost: dbFire.collection("homePost").doc("HCmnhq4RUzSvm987YuAq")
    };
  },
  methods: {
    generateUUID: function() {
      // Public Domain/MIT
      var d = new Date().getTime();
      if (
        typeof performance !== "undefined" &&
        typeof performance.now === "function"
      ) {
        d += performance.now(); //use high-precision timer if available
      }
      var newGuid = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
        /[xy]/g,
        function(c) {
          var r = (d + Math.random() * 16) % 16 | 0;
          d = Math.floor(d / 16);
          return (c === "x" ? r : (r & 0x3) | 0x8).toString(16);
        }
      );

      return newGuid;
    },
    editData() {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, update it!"
      }).then(result => {
        if (result.value) {
          this.$firestore.aboutPost.update({
            title: this.aboutPost.title,
            content: this.aboutPost.content,
            team: this.aboutPost.team
          });
          this.$swal("Updated!", "Your file has been Updated.", "success");
        }
      });
    },
    uploadImage() {
      this.$swal({
        position: "top-end",
        type: "success",
        title: "Image has been saved",
        showConfirmButton: false,
        timer: 1500
      });
      this.$firestore.aboutPost.update({
        image: this.downloadURL
      });
    },
    selectFile() {
      this.$refs.uploadInput.click();
    },
    detectFiles(e) {
      let fileList = e.target.files || e.dataTransfer.files;
      Array.from(Array(fileList.length).keys()).map(x => {
        this.upload(fileList[x]);
      });
    },
    upload(file) {
      if (file.size > 3072 * 1024) {
        alert("Max image size is 3MB");
        this.value = "";
      } else {
        this.fileName = file.name;
        this.uploading = true;
        this.uploadTask = db
          .storage()
          .ref("aboutImage/" + file.name)
          .put(file);
        db.storage()
          .refFromURL(this.aboutPost.image)
          .delete()
          .then(() => {
            this.$firestore.aboutPost.update({
              image: ""
            });
          });
      }
    },
    deleteImage() {
      this.$swal({
        position: "top-end",
        type: "success",
        title: "Image has been deleted",
        showConfirmButton: false,
        timer: 1500
      });
      db.storage()
        .ref("aboutImage/" + this.fileName)
        .delete()
        .then(() => {
          this.uploading = false;
          this.uploadEnd = false;
          this.downloadURL = "";
        })
        .catch(error => {
          alert(`file delete error occured: ${error}`);
        });
      this.$refs.form.reset();
    },
    //team
    close() {
      this.dialog1 = false;
      this.uploading1 = false;
      this.uploadEnd1 = false;
      this.uploadTask1 = false;
      this.downloadURL1 = "";
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    addTeam() {
      if (this.editedIndex > -1) {
        Object.assign(this.aboutPost.team[this.editedIndex], {
          name: this.editedItem.name,
          role: this.editedItem.role,
          desc: this.editedItem.desc,
          instagram: this.editedItem.instagram,
          facebook: this.editedItem.facebook,
          twitter: this.editedItem.twitter,
          image: this.downloadURL1
        });
      } else {
        this.aboutPost.team.push({
          name: this.editedItem.name,
          role: this.editedItem.role,
          desc: this.editedItem.desc,
          instagram: this.editedItem.instagram,
          facebook: this.editedItem.facebook,
          twitter: this.editedItem.twitter,
          image: this.downloadURL1
        });
      }
      this.close();
    },
    editItem(item) {
      this.editedIndex = this.aboutPost.team.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.downloadURL1 = item.image;
      this.dialog1 = true;
    },
    deleteItem(item) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          const index = this.aboutPost.team.indexOf(item);
          this.$swal("Deleted!", "Your file has been deleted.", "success") &&
            this.aboutPost.team.splice(index, 1) &&
            db
              .storage()
              .refFromURL(item.image)
              .delete();
        }
      });
    },
    //upload image carousels
    onPickFile1() {
      this.$refs.fileInput1.click();
    },
    selectFile1() {
      this.$refs.uploadInput1.click();
    },
    detectFiles1(e) {
      let fileList1 = e.target.files || e.dataTransfer.files1;
      Array.from(Array(fileList1.length).keys()).map(x => {
        this.upload1(fileList1[x]);
      });
    },
    upload1(file1) {
      if (file1.size > 3072 * 1024) {
        alert("Max image size is 3MB");
        this.value = "";
      } else {
        this.fileName1 = file1.name;
        this.uploading1 = true;
        this.GUID = this.generateUUID();
        this.uploadTask1 = db
          .storage()
          .ref("aboutImage/teamImage/" + this.GUID)
          .put(file1);
        db.storage()
          .refFromURL(this.editedItem.image)
          .delete();
      }
    },
    deleteImage1() {
      db.storage()
        .refFromURL(this.downloadURL1)
        .delete()
        .then(() => {
          this.uploading1 = false;
          this.uploadEnd1 = false;
          this.uploadTask1 = false;
          this.downloadURL1 = "";
        })
        .catch(error => {
          alert(`file delete error occured: ${error}`);
        });
      this.$refs.form.reset();
    },
    //upload image parallax
    uploadParallax() {
      this.$swal({
        position: "top-end",
        type: "success",
        title: "Parallax Image has been saved",
        showConfirmButton: false,
        timer: 1500
      });
      this.$firestore.aboutPost.update({
        imageParallax: this.downloadURL2
      });
    },
    onPickFile2() {
      this.$refs.fileInput2.click();
    },
    selectFile2() {
      this.$refs.uploadInput2.click();
    },
    detectFiles2(e) {
      let fileList2 = e.target.files || e.dataTransfer.files2;
      Array.from(Array(fileList2.length).keys()).map(x => {
        this.upload2(fileList2[x]);
      });
    },
    upload2(file2) {
      if (file2.size > 3072 * 1024) {
        alert("Max image size is 3MB");
        this.value = "";
      } else {
        this.fileName2 = file2.name;
        this.uploading2 = true;
        this.GUID = this.generateUUID();
        this.uploadTask2 = db
          .storage()
          .ref("aboutImage/" + this.GUID)
          .put(file2);
        db.storage()
          .refFromURL(this.aboutPost.imageParallax)
          .delete()
          .then(() => {
            this.$firestore.aboutPost.update({
              imageParallax: ""
            });
          });
      }
    },
    deleteImage2() {
      this.$swal({
        position: "top-end",
        type: "success",
        title: "Parallax Image has been deleted",
        showConfirmButton: false,
        timer: 1500
      });
      db.storage()
        .refFromURL(this.downloadURL2)
        .delete()
        .then(() => {
          this.uploading2 = false;
          this.uploadEnd2 = false;
          this.uploadTask2 = false;
          this.downloadURL2 = "";
        })
        .catch(error => {
          alert(`file delete error occured: ${error}`);
        });
      this.$refs.form.reset();
    }
  },
  watch: {
    uploadTask: function() {
      this.uploadTask.on(
        "state_changed",
        sp => {
          this.progressUpload = Math.floor(
            (sp.bytesTransferred / sp.totalBytes) * 100
          );
        },
        null,
        () => {
          this.uploadTask.snapshot.ref.getDownloadURL().then(downloadURL => {
            this.uploadEnd = true;
            this.downloadURL = downloadURL;
            this.$emit("downloadURL", downloadURL);
          });
        }
      );
    },
    uploadTask1: function() {
      this.uploadTask1.on(
        "state_changed",
        sp => {
          this.progressUpload1 = Math.floor(
            (sp.bytesTransferred / sp.totalBytes) * 100
          );
        },
        null,
        () => {
          this.uploadTask1.snapshot.ref.getDownloadURL().then(downloadURL1 => {
            this.uploadEnd1 = true;
            this.downloadURL1 = downloadURL1;
            this.$emit("downloadURL1", downloadURL1);
          });
        }
      );
    },
    uploadTask2: function() {
      this.uploadTask2.on(
        "state_changed",
        sp => {
          this.progressUpload2 = Math.floor(
            (sp.bytesTransferred / sp.totalBytes) * 100
          );
        },
        null,
        () => {
          this.uploadTask2.snapshot.ref.getDownloadURL().then(downloadURL2 => {
            this.uploadEnd2 = true;
            this.downloadURL2 = downloadURL2;
            this.$emit("downloadURL2", downloadURL2);
          });
        }
      );
    }
  }
};
</script>

<style>
.ck-editor__editable {
  min-height: 270px;
}
.progress-bar {
  margin: 10px 0;
}
input[type="file"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
</style>
