<template>
  <div class="ContactPost">
    <v-container fill-height fluid>
      <v-card flat class="transparent" title="Edit Profile" text="Complete your profile">
        <v-form>
          <v-container class="py-0">
            <v-row>
              <v-col cols="12">
                <v-btn @click.native="selectFile2" v-if="!uploadEnd2 && !uploading2">
                  Parallax Image
                  <v-icon right aria-hidden="true">mdi-camera</v-icon>
                </v-btn>
                <br />
                <span class="caption">max image size is 3MB</span>
                <form ref="form">
                  <input
                    id="files2"
                    type="file"
                    name="file2"
                    ref="uploadInput2"
                    accept="image/png, image/jpeg, image/bmp"
                    :rules="rules"
                    :multiple="false"
                    @change="detectFiles2($event)"
                  />
                </form>
                <v-progress-circular
                  v-if="uploading2 && !uploadEnd2"
                  :size="100"
                  :width="15"
                  :rotate="360"
                  :value="progressUpload2"
                  color="primary"
                >%</v-progress-circular>

                <div v-if="uploadEnd2">
                  <img v-if="uploadEnd2" :src="downloadURL2" width="120px" />
                  <v-btn
                    class="mx-2 my-2"
                    dark
                    small
                    color="success"
                    @click="uploadParallax()"
                  >Upload</v-btn>
                  <v-btn class="mx-2" dark small color="error" @click="deleteImage2()">Delete</v-btn>
                </div>
              </v-col>
              <v-col cols="12">
                <img v-if="!uploadEnd2" :src="aboutPost.imageParallax" width="120px" />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  outlined
                  label="Email"
                  append-icon="mdi-email"
                  placeholder="Email"
                  v-model="aboutPost.email"
                ></v-text-field>
                <v-text-field
                  outlined
                  label="Phone Number"
                  append-icon="mdi-phone"
                  placeholder="Phone Number"
                  v-mask="mask"
                  v-model="aboutPost.phone"
                  hint="Indonesia = +62 , Japan = +81"
                  class="pb-2"
                ></v-text-field>
                <v-text-field
                  outlined
                  label="Address"
                  append-icon="mdi-map-marker"
                  placeholder="Address"
                  v-model="aboutPost.address"
                ></v-text-field>
                <v-text-field
                  outlined
                  label="Whatsapp"
                  append-icon="mdi-whatsapp"
                  placeholder="https://www.whatsapp.com/"
                  v-model="aboutPost.whatsapp"
                ></v-text-field>
                <v-text-field
                  outlined
                  label="Instagram"
                  append-icon="mdi-instagram"
                  placeholder="https://instagram.com/"
                  v-model="aboutPost.instagram"
                ></v-text-field>
                <v-text-field
                  outlined
                  label="Line"
                  append-icon="fab fa-line"
                  placeholder="https://line.me/id/"
                  v-model="aboutPost.line"
                ></v-text-field>
              </v-col>

              <v-col cols="12" class="text-right">
                <v-btn v-if="uploadEnd" raised color="success" @click="editData()">Update Contact</v-btn>
                <v-btn v-if="!uploadEnd" raised color="success" @click="editDatas()">Update Contact</v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { db, dbFire } from "@/firebase";
import ClassicEditor from "@ckeditor/ckeditor5-editor-classic/src/classiceditor";

import EssentialsPlugin from "@ckeditor/ckeditor5-essentials/src/essentials";
import BoldPlugin from "@ckeditor/ckeditor5-basic-styles/src/bold";
import ItalicPlugin from "@ckeditor/ckeditor5-basic-styles/src/italic";
import LinkPlugin from "@ckeditor/ckeditor5-link/src/link";
import ParagraphPlugin from "@ckeditor/ckeditor5-paragraph/src/paragraph";
import Base64UploadAdapter from "@ckeditor/ckeditor5-upload/src/adapters/base64uploadadapter";
import Heading from "@ckeditor/ckeditor5-heading/src/heading";
import Font from "@ckeditor/ckeditor5-font/src/font";
import Alignment from "@ckeditor/ckeditor5-alignment/src/alignment";
import { mask } from "vue-the-mask";

export default {
  name: "ContactPost",
  components: {},
  directives: {
    mask
  },
  data() {
    return {
      mask: "+##-####-####-####",
      progressUpload2: 0,
      fileName2: "",
      uploadTask2: "",
      uploading2: false,
      uploadEnd2: false,
      downloadURL2: "",
      rules: [
        value =>
          !value ||
          value.size < 10000000 ||
          "Image size should be less than 10 MB!"
      ],
      imageUrl2: "",
      image2: null,
      editor: ClassicEditor,
      editorConfig: {
        plugins: [
          EssentialsPlugin,
          BoldPlugin,
          ItalicPlugin,
          LinkPlugin,
          ParagraphPlugin,
          Base64UploadAdapter,
          Heading,
          Font,
          Alignment
        ],

        toolbar: {
          items: [
            "heading",
            "bold",
            "italic",
            "alignment",
            "fontSize",
            "fontFamily",
            "fontColor",
            "fontBackgroundColor",
            "link",
            "undo",
            "redo"
          ]
        }
      },
      aboutPost: [],
      activeItem: null
    };
  },
  firestore() {
    return {
      aboutPost: dbFire.collection("aboutPost").doc("8uGYTpttFhwbfgRHP23B")
    };
  },
  methods: {
    generateUUID: function() {
      // Public Domain/MIT
      var d = new Date().getTime();
      if (
        typeof performance !== "undefined" &&
        typeof performance.now === "function"
      ) {
        d += performance.now(); //use high-precision timer if available
      }
      var newGuid = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
        /[xy]/g,
        function(c) {
          var r = (d + Math.random() * 16) % 16 | 0;
          d = Math.floor(d / 16);
          return (c === "x" ? r : (r & 0x3) | 0x8).toString(16);
        }
      );

      return newGuid;
    },
    editData() {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, update it!"
      }).then(result => {
        if (result.value) {
          this.$firestore.aboutPost.update({
            whatsapp: this.aboutPost.whatsapp,
            instagram: this.aboutPost.instagram,
            line: this.aboutPost.line,
            email: this.aboutPost.email,
            phone: this.aboutPost.phone,
            address: this.aboutPost.address
          });
          this.$swal("Updated!", "Your file has been Updated.", "success");
        }
      });
    },
    editDatas() {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, update it!"
      }).then(result => {
        if (result.value) {
          this.$firestore.aboutPost.update({
            whatsapp: this.aboutPost.whatsapp,
            instagram: this.aboutPost.instagram,
            line: this.aboutPost.line,
            email: this.aboutPost.email,
            phone: this.aboutPost.phone,
            address: this.aboutPost.address
          });
          this.$swal("Updated!", "Your file has been Updated.", "success");
        }
      });
    },
    //upload image parallax
    uploadParallax() {
      this.$swal({
        position: "top-end",
        type: "success",
        title: "Parallax Image has been saved",
        showConfirmButton: false,
        timer: 1500
      });
      this.$firestore.aboutPost.update({
        imageParallax: this.downloadURL2
      });
    },
    selectFile2() {
      this.$refs.uploadInput2.click();
    },
    detectFiles2(e) {
      let fileList2 = e.target.files || e.dataTransfer.files2;
      Array.from(Array(fileList2.length).keys()).map(x => {
        this.upload2(fileList2[x]);
      });
    },
    upload2(file2) {
      if (file2.size > 3072 * 1024) {
        alert("Max image size is 3MB");
        this.value = "";
      } else {
        this.fileName2 = file2.name;
        this.uploading2 = true;
        this.GUID = this.generateUUID();
        this.uploadTask2 = db
          .storage()
          .ref("contactImage/" + this.GUID)
          .put(file2);
        db.storage()
          .refFromURL(this.aboutPost.imageParallax)
          .delete()
          .then(() => {
            this.$firestore.aboutPost.update({
              imageParallax: ""
            });
          });
      }
    },
    deleteImage2() {
      this.$swal({
        position: "top-end",
        type: "success",
        title: "Parallax Image has been deleted",
        showConfirmButton: false,
        timer: 1500
      });
      db.storage()
        .refFromURL(this.downloadURL2)
        .delete()
        .then(() => {
          this.uploading2 = false;
          this.uploadEnd2 = false;
          this.uploadTask2 = false;
          this.downloadURL2 = "";
        })
        .catch(error => {
          alert(`file delete error occured: ${error}`);
        });
      this.$refs.form.reset();
    }
  },
  watch: {
    uploadTask2: function() {
      this.uploadTask2.on(
        "state_changed",
        sp => {
          this.progressUpload2 = Math.floor(
            (sp.bytesTransferred / sp.totalBytes) * 100
          );
        },
        null,
        () => {
          this.uploadTask2.snapshot.ref.getDownloadURL().then(downloadURL2 => {
            this.uploadEnd2 = true;
            this.downloadURL2 = downloadURL2;
            this.$emit("downloadURL2", downloadURL2);
          });
        }
      );
    }
  }
};
</script>

<style>
.ck-editor__editable {
  min-height: 270px;
}
.progress-bar {
  margin: 10px 0;
}
input[type="file"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
</style>