<template>
  <div class="Dashboard">
    <v-container>
      <v-flex>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic culpa nam tempora a corrupti, sed est, natus illum saepe consectetur harum, impedit nemo? Provident quos neque eligendi quam inventore soluta.</p>
      </v-flex>
    </v-container>
  </div>
</template>