<template>
  <v-app class="grey lighten-4">
    <Navbar />
    <v-layout>
      <v-content class="align-self-start" style="padding: 20px 50px 50px 50px;">
        <router-view></router-view>
      </v-content>
    </v-layout>

    <Footer />
  </v-app>
</template>

<script>
import { db } from "@/firebase";
import Navbar from "@/components/Admin/Navbar";

export default {
  name: "Admin",
  components: { Navbar },
  data: () => ({
    //
  }),
  created() {
    let user = db.auth().currentUser;
    this.email = user.email;
  }
};
</script>