<template>
  <div class="HomePost">
    <v-container fill-height fluid>
      <v-card flat class="transparent" title="Edit Profile" text="Complete your profile">
        <v-form>
          <v-container class="py-0">
            <v-row>
              <v-col cols="12">
                <v-text-field outlined label="Title" v-model="homePost.title" />
                <v-text-field outlined label="Sub Title" v-model="homePost.subTitle" />
              </v-col>

              <v-col cols="12">
                <ckeditor
                  id="content"
                  :editor="editor"
                  v-model="homePost.content"
                  :config="editorConfig"
                ></ckeditor>
              </v-col>

              <v-col cols="12">
                <v-divider></v-divider>
                <h5 class="font-weight-light">Short Description</h5>
              </v-col>

              <v-col cols="12">
                <v-textarea
                  label="About Us"
                  placeholder="Write short description for about"
                  v-model="homePost.aboutus"
                  auto-grow
                  outlined
                  rows="4"
                ></v-textarea>
                <v-textarea
                  label="Contact Us"
                  placeholder="Write short description for contact"
                  v-model="homePost.contactus"
                  auto-grow
                  outlined
                  rows="4"
                ></v-textarea>
                <v-textarea
                  label="Tour Package"
                  placeholder="Write short description for tour package"
                  v-model="homePost.tourPackage"
                  auto-grow
                  outlined
                  rows="4"
                ></v-textarea>
              </v-col>
              <v-col cols="12">
                <v-divider></v-divider>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-dialog v-model="dialog1" persistent max-width="600px">
                  <template v-slot:activator="{ on }">
                    <v-card flat class="transparent">
                      <v-card-title>
                        <v-btn tile outlined color="success" v-on="on">
                          <v-icon left>mdi-plus</v-icon>Carousels
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-text-field
                          v-model="search"
                          append-icon="mdi-search"
                          label="Search"
                          single-line
                          hide-details
                        ></v-text-field>
                      </v-card-title>
                    </v-card>
                    <v-data-table
                      class="transparent"
                      :headers="headers"
                      :items="homePost.carousels"
                      :search="search"
                      :items-per-page="5"
                    >
                      <template v-slot:item.action="{ item }">
                        <v-icon
                          small
                          class="mr-2"
                          color="teal"
                          @click="editItem(item)"
                        >mdi-square-edit-outline</v-icon>
                        <v-icon small color="error" @click="deleteItem(item)">mdi-delete</v-icon>
                      </template>
                    </v-data-table>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">Carousels</span>
                    </v-card-title>
                    <v-card-text>
                      <v-form>
                        <v-container class="py-0">
                          <v-row>
                            <v-col cols="12">
                              <v-text-field outlined label="Title" v-model="editedItem.title" />
                              <v-btn @click.native="selectFile1" v-if="!uploadEnd1 && !uploading1">
                                Update an image
                                <v-icon right aria-hidden="true">mdi-camera</v-icon>
                              </v-btn>
                              <form ref="form">
                                <input
                                  id="files1"
                                  type="file"
                                  name="file1"
                                  ref="uploadInput1"
                                  accept="image/png, image/jpeg, image/bmp"
                                  :rules="rules"
                                  :multiple="false"
                                  @change="detectFiles1($event)"
                                />
                              </form>
                              <v-progress-circular
                                v-if="uploading1 && !uploadEnd1"
                                :size="100"
                                :width="15"
                                :rotate="360"
                                :value="progressUpload1"
                                color="primary"
                              >%</v-progress-circular>
                              <img v-if="uploadEnd1" :src="downloadURL1" width="120px" />
                              <div v-if="uploadEnd1">
                                <v-btn
                                  class="ma-0"
                                  dark
                                  small
                                  color="error"
                                  @click="deleteImage1()"
                                >Delete</v-btn>
                              </div>
                            </v-col>
                            <v-col cols="12">
                              <img v-if="!uploadEnd1" :src="editedItem.image" width="120px" />
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-form>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close()">Close</v-btn>
                      <v-btn
                        v-show="!uploadTask1"
                        color="blue darken-1"
                        text
                        @click="addCarousels()"
                      >Save</v-btn>
                      <v-btn
                        v-show="uploadEnd1"
                        color="blue darken-1"
                        text
                        @click="addCarousels()"
                      >Save</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="text-right">
                <v-btn color="success" @click="editData()">Update Home</v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { db, dbFire } from "@/firebase";
import ClassicEditor from "@ckeditor/ckeditor5-editor-classic/src/classiceditor";

import EssentialsPlugin from "@ckeditor/ckeditor5-essentials/src/essentials";
import BoldPlugin from "@ckeditor/ckeditor5-basic-styles/src/bold";
import ItalicPlugin from "@ckeditor/ckeditor5-basic-styles/src/italic";
import LinkPlugin from "@ckeditor/ckeditor5-link/src/link";
import ParagraphPlugin from "@ckeditor/ckeditor5-paragraph/src/paragraph";
import Base64UploadAdapter from "@ckeditor/ckeditor5-upload/src/adapters/base64uploadadapter";
import Heading from "@ckeditor/ckeditor5-heading/src/heading";
import Font from "@ckeditor/ckeditor5-font/src/font";
import Alignment from "@ckeditor/ckeditor5-alignment/src/alignment";
import Indent from "@ckeditor/ckeditor5-indent/src/indent";
import IndentBlock from "@ckeditor/ckeditor5-indent/src/indentblock";
import List from "@ckeditor/ckeditor5-list/src/list";
import TodoList from "@ckeditor/ckeditor5-list/src/todolist";
import Table from "@ckeditor/ckeditor5-table/src/table";
import TableToolbar from "@ckeditor/ckeditor5-table/src/tabletoolbar";

export default {
  name: "HomePost",
  components: {},
  data() {
    return {
      search: "",
      uploadD: false,
      dialog1: false,
      dialog2: false,
      headers: [
        { text: "Title", value: "title" },
        { text: "Action", value: "action", sortable: false }
      ],
      carousels: [],
      editedItem: {
        title: "",
        image: ""
      },
      defaultItem: {
        title: "",
        image: ""
      },
      tourPoint: [],
      editedPoint: {
        name: "",
        desc: "",
        image: ""
      },
      defaultPoint: {
        name: "",
        desc: "",
        image: ""
      },
      progressUpload1: 0,
      fileName1: "",
      uploadTask1: "",
      uploading1: false,
      uploadEnd1: false,
      downloadURL1: "",
      progressUpload2: 0,
      fileName2: "",
      uploadTask2: "",
      uploading2: false,
      uploadEnd2: false,
      downloadURL2: "",
      rules: [
        value =>
          !value ||
          value.size < 10000000 ||
          "Image size should be less than 10 MB!"
      ],
      imageUrl1: "",
      image1: null,
      imageUrl2: "",
      image2: null,
      editor: ClassicEditor,
      editorConfig: {
        plugins: [
          EssentialsPlugin,
          BoldPlugin,
          ItalicPlugin,
          LinkPlugin,
          ParagraphPlugin,
          Base64UploadAdapter,
          Heading,
          Font,
          Alignment,
          Indent,
          IndentBlock,
          List,
          TodoList,
          Table,
          TableToolbar
        ],

        toolbar: {
          items: [
            "heading",
            "bold",
            "italic",
            "|",
            "alignment",
            "outdent",
            "indent",
            "|",
            "bulletedList",
            "numberedList",
            "todoList",
            "|",
            "fontSize",
            "fontFamily",
            "fontColor",
            "fontBackgroundColor",
            "link",
            "insertTable",
            "|",
            "undo",
            "redo"
          ]
        },
        table: {
          contentToolbar: ["tableColumn", "tableRow", "mergeTableCells"]
        }
      },
      homePost: [],
      activeItem: null,
      GUID: this.generateUUID
    };
  },
  firestore() {
    return {
      homePost: dbFire.collection("homePost").doc("HCmnhq4RUzSvm987YuAq")
    };
  },
  methods: {
    generateUUID: function() {
      // Public Domain/MIT
      var d = new Date().getTime();
      if (
        typeof performance !== "undefined" &&
        typeof performance.now === "function"
      ) {
        d += performance.now(); //use high-precision timer if available
      }
      var newGuid = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
        /[xy]/g,
        function(c) {
          var r = (d + Math.random() * 16) % 16 | 0;
          d = Math.floor(d / 16);
          return (c === "x" ? r : (r & 0x3) | 0x8).toString(16);
        }
      );

      return newGuid;
    },
    editData() {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, update it!"
      }).then(result => {
        if (result.value) {
          this.$firestore.homePost.update({
            title: this.homePost.title,
            subTitle: this.homePost.subTitle,
            content: this.homePost.content,
            aboutus: this.homePost.aboutus,
            contactus: this.homePost.contactus,
            tourPackage: this.homePost.tourPackage,
            carousels: this.homePost.carousels
          });
          this.$swal("Updated!", "Your file has been Updated.", "success");
        }
      });
    },
    close() {
      this.dialog1 = false;
      this.uploading1 = false;
      this.uploadEnd1 = false;
      this.uploadTask1 = false;
      this.downloadURL1 = "";
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    addCarousels() {
      if (this.editedIndex > -1) {
        Object.assign(this.homePost.carousels[this.editedIndex], {
          title: this.editedItem.title,
          image: this.downloadURL1
        });
      } else {
        this.homePost.carousels.push({
          title: this.editedItem.title,
          image: this.downloadURL1
        });
      }
      this.close();
    },
    editItem(item) {
      this.editedIndex = this.homePost.carousels.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.downloadURL1 = item.image
      this.dialog1 = true;
    },
    deleteItem(item) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          const index = this.homePost.carousels.indexOf(item);
          this.$swal("Deleted!", "Your file has been deleted.", "success") &&
            this.homePost.carousels.splice(index, 1) &&
            db
              .storage()
              .refFromURL(item.image)
              .delete();
        }
      });
    },
    //upload image carousels
    onPickFile1() {
      this.$refs.fileInput1.click();
    },
    selectFile1() {
      this.$refs.uploadInput1.click();
    },
    detectFiles1(e) {
      let fileList1 = e.target.files || e.dataTransfer.files1;
      Array.from(Array(fileList1.length).keys()).map(x => {
        this.upload1(fileList1[x]);
      });
    },
    upload1(file1) {
      this.fileName1 = file1.name;
      this.uploading1 = true;
      this.GUID = this.generateUUID();
      this.uploadTask1 = db
        .storage()
        .ref("homeImage/carouselsImage/" + this.GUID)
        .put(file1);
      db.storage()
        .refFromURL(this.editedItem.image)
        .delete();
    },
    deleteImage1() {
      db.storage()
        .refFromURL(this.downloadURL1)
        .delete()
        .then(() => {
          this.uploading1 = false;
          this.uploadEnd1 = false;
          this.uploadTask1 = false;
          this.downloadURL1 = "";
        })
        .catch(error => {
          alert(`file delete error occured: ${error}`);
        });
      this.$refs.form.reset();
    }
  },
  watch: {
    uploadTask1: function() {
      this.uploadTask1.on(
        "state_changed",
        sp => {
          this.progressUpload1 = Math.floor(
            (sp.bytesTransferred / sp.totalBytes) * 100
          );
        },
        null,
        () => {
          this.uploadTask1.snapshot.ref.getDownloadURL().then(downloadURL1 => {
            this.uploadEnd1 = true;
            this.downloadURL1 = downloadURL1;
            this.$emit("downloadURL1", downloadURL1);
          });
        }
      );
    }
  }
};
</script>

<style>
.ck-editor__editable {
  min-height: 270px;
}
</style>