<template>
  <div class="Messages">
    <v-card flat class="transparent">
      <v-card-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        class="transparent"
        :headers="headers"
        :items="messages"
        :search="search"
        :sort-by="['date']"
        :sort-desc="[false]"
      >
        <template v-slot:item.action="{ item }">
          <v-btn small class="mr-2" color="teal" @click="detail(item)">Detail</v-btn>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template></template>
      <v-card>
        <v-card-title>
          <span class="headline">Detail</span>
        </v-card-title>
        <v-card-text>
          <v-row no-gutters>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">First Name</p>
              <p class="mb-4">{{firstName}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Last Name</p>
              <p class="mb-4">{{lastName}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4">{{phone}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Line ID</p>
              <p class="mb-4">{{line}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Date</p>
              <p class="mb-4">{{date}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-4">{{email}}</p>
            </v-col>
            <v-col cols="12" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Subject</p>
              <p class="mb-4">{{subject}}</p>
            </v-col>
            <v-col cols="12" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Notes</p>
              <p class="mb-4">{{notes}}</p>
            </v-col>

            <v-col cols="12" class="px-4 bg-white">
              <img :src="image" width="120px" />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close()">Close</v-btn>
          <v-btn color="blue darken-1" text @click="completeBtn()">Complete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { dbFire } from "@/firebase";

export default {
  data() {
    return {
      id: "",
      firstName: "",
      lastName: "",
      title: "",
      phone: "",
      email: "",
      line: "",
      date: "",
      notes: "",
      subject: "",
      dialog: false,
      search: "",
      headers: [
        {
          text: "Date",
          align: "left",
          value: "date"
        },
        { text: "Subject", value: "subject", sortable: false },
        { text: "Name", value: "lastName" },
        { text: "Line", value: "lineId" },
        { text: "Phone", value: "phoneNumber" },
        { text: "Action", value: "action", sortable: false }
      ]
    };
  },
  firestore() {
    return {
      messages: dbFire.collection("messages")
    };
  },
  methods: {
    close() {
      this.id = "";
      this.firstName = "";
      this.lastName = "";
      this.phone = "";
      this.email = "";
      this.line = "";
      this.date = "";
      this.notes = "";
      this.subject = "";
      this.dialog = false;
    },
    detail(item) {
      this.dialog = true;
      this.firstName = item.firstName;
      this.lastName = item.lastName;
      this.phone = item.phoneNumber;
      this.email = item.email;
      this.line = item.lineId;
      this.date = item.date;
      this.notes = item.notes;
      this.subject = item.subject;
      this.id = item[".key"];
    },
    completeBtn() {
      this.$swal({
        title: "Are you sure?",
        text: "Confirm to delete the message",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Confirm"
      }).then(result => {
        if (result.value) {
          this.$firestore.messages.doc(this.id).delete();
          this.$swal("Completed!", "The message has been deleted.", "success");
        }
        this.close();
      });
    }
  }
};
</script>