<template>
  <div class="PackagePost">
    <v-row>
      <v-col cols="12">
        <v-btn @click.native="selectFile3" v-if="!uploadEnd3 && !uploading3">
          Parallax Image
          <v-icon right aria-hidden="true">mdi-camera</v-icon>
        </v-btn>
        <br />
        <span class="caption">max image size is 3MB</span>
        <form ref="form">
          <input
            id="files3"
            type="file"
            name="file3"
            ref="uploadInput3"
            accept="image/png, image/jpeg, image/bmp"
            :rules="rules"
            :multiple="false"
            @change="detectFiles3($event)"
          />
        </form>
        <v-progress-circular
          v-if="uploading3 && !uploadEnd3"
          :size="100"
          :width="15"
          :rotate="360"
          :value="progressUpload3"
          color="primary"
        >%</v-progress-circular>

        <div v-if="uploadEnd3">
          <img v-if="uploadEnd3" :src="downloadURL3" width="120px" />
          <v-btn class="mx-2 my-2" dark small color="success" @click="uploadParallax()">Upload</v-btn>
          <v-btn class="mx-2" dark small color="error" @click="deleteImage3()">Delete</v-btn>
        </div>
      </v-col>
      <v-col cols="12">
        <img v-if="!uploadEnd3" :src="aboutPost.imageParallaxPackage" width="120px" />
      </v-col>
    </v-row>
    <v-card flat class="transparent">
      <v-card-title>
        <v-dialog v-model="dialog" persistent max-width="900px">
          <template v-slot:activator="{ on }">
            <v-btn tile outlined color="success" v-on="on">
              <v-icon left>mdi-plus</v-icon>Add
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">Package</span>
            </v-card-title>
            <v-card-text>
              <v-form>
                <v-container class="py-0">
                  <v-row>
                    <v-col cols="12">
                      <v-text-field outlined label="Type" v-model="type" />
                      <v-text-field outlined label="Title" v-model="title" />
                      <v-text-field outlined label="Price" v-model="price" />
                      <v-btn @click.native="selectFile" v-if="!uploadEnd && !uploading">
                        Update an image
                        <v-icon right aria-hidden="true">mdi-camera</v-icon>
                      </v-btn>
                      <br />
                      <span class="caption">max image size is 3MB</span>
                      <form ref="form">
                        <input
                          id="files"
                          type="file"
                          name="file"
                          ref="uploadInput"
                          accept="image/png, image/jpeg, image/bmp"
                          :rules="rules"
                          :multiple="false"
                          @change="detectFiles($event)"
                        />
                      </form>
                      <v-progress-circular
                        v-if="uploading && !uploadEnd"
                        :size="100"
                        :width="15"
                        :rotate="360"
                        :value="progressUpload"
                        color="primary"
                      >%</v-progress-circular>
                      <img v-if="uploadEnd" :src="downloadURL" width="120px" />
                      <div v-if="uploadEnd">
                        <v-btn class="ma-0" dark small color="error" @click="deleteImage()">Delete</v-btn>
                      </div>
                    </v-col>
                    <v-col cols="12">
                      <img v-if="!uploadEnd" :src="image" width="120px" />
                    </v-col>

                    <v-col cols="12">
                      <ckeditor
                        id="content"
                        :editor="editor"
                        v-model="content"
                        :config="editorConfig"
                      ></ckeditor>
                    </v-col>

                    <v-col cols="12"></v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      <v-dialog v-model="dialog1" persistent max-width="900px">
                        <template v-slot:activator="{ on }">
                          <v-btn tile outlined color="success" v-on="on">
                            <v-icon left>mdi-plus</v-icon>time line
                          </v-btn>
                          <v-simple-table fixed-header height="300px">
                            <template v-slot:default>
                              <thead>
                                <tr>
                                  <th class="text-left">Time</th>
                                  <th class="text-left">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="(item,i) in timeLine" :key="i">
                                  <td>{{ item.time }}</td>
                                  <td>
                                    <v-icon
                                      small
                                      class="mr-2"
                                      @click="editItem(item)"
                                      color="teal"
                                    >mdi-square-edit-outline</v-icon>
                                    <v-icon small @click="deleteItem(item)" color="error">mdi-delete</v-icon>
                                  </td>
                                </tr>
                              </tbody>
                            </template>
                          </v-simple-table>
                        </template>
                        <v-card>
                          <v-card-title>
                            <span class="headline">Time Line</span>
                          </v-card-title>
                          <v-card-text>
                            <v-form>
                              <v-container class="py-0">
                                <v-row>
                                  <v-col cols="12">
                                    <v-text-field outlined label="Time" v-model="editedItem.time" />
                                    <v-btn
                                      @click.native="selectFile1"
                                      v-if="!uploadEnd1 && !uploading1"
                                    >
                                      Update an image
                                      <v-icon right aria-hidden="true">mdi-camera</v-icon>
                                    </v-btn>
                                    <br />
                                    <span class="caption">max image size is 2MB</span>
                                    <form ref="form">
                                      <input
                                        id="files1"
                                        type="file"
                                        name="file1"
                                        ref="uploadInput1"
                                        accept="image/png, image/jpeg, image/bmp"
                                        :rules="rules"
                                        :multiple="false"
                                        @change="detectFiles1($event)"
                                      />
                                    </form>
                                    <v-progress-circular
                                      v-if="uploading1 && !uploadEnd1"
                                      :size="100"
                                      :width="15"
                                      :rotate="360"
                                      :value="progressUpload1"
                                      color="primary"
                                    >%</v-progress-circular>
                                    <img v-if="uploadEnd1" :src="downloadURL1" width="120px" />
                                    <div v-if="uploadEnd1">
                                      <v-btn
                                        class="ma-0"
                                        dark
                                        small
                                        color="error"
                                        @click="deleteImage1()"
                                      >Delete</v-btn>
                                    </div>
                                  </v-col>
                                  <v-col cols="12">
                                    <img v-if="!uploadEnd1" :src="editedItem.image" width="120px" />
                                  </v-col>

                                  <v-col cols="12">
                                    <v-textarea
                                      label="Description"
                                      placeholder="Description..."
                                      auto-grow
                                      outlined
                                      rows="4"
                                      v-model="editedItem.desc"
                                      required
                                    ></v-textarea>
                                  </v-col>
                                </v-row>
                              </v-container>
                            </v-form>
                          </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="close()">Close</v-btn>
                            <v-btn
                              color="blue darken-1"
                              v-if="!uploadTask1"
                              text
                              @click="addTimeline()"
                            >Save</v-btn>
                            <v-btn
                              color="blue darken-1"
                              v-if="uploadEnd1"
                              text
                              @click="addTimeline()"
                            >Save</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeData()">Close</v-btn>
              <v-btn color="blue darken-1" text v-if="!uploadTask" @click="addData()">Save</v-btn>
              <v-btn color="blue darken-1" text v-if="uploadEnd" @click="addData()">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table class="transparent" :headers="headers" :items="packagePost" :search="search">
        <template v-slot:item.action="{ item }">
          <v-icon
            medium
            class="mr-2"
            color="teal"
            @click="editPackage(item)"
          >mdi-square-edit-outline</v-icon>
          <v-icon medium color="error" @click="deletePackage(item)">mdi-delete</v-icon>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { db, dbFire } from "@/firebase";
import ClassicEditor from "@ckeditor/ckeditor5-editor-classic/src/classiceditor";

import EssentialsPlugin from "@ckeditor/ckeditor5-essentials/src/essentials";
import BoldPlugin from "@ckeditor/ckeditor5-basic-styles/src/bold";
import ItalicPlugin from "@ckeditor/ckeditor5-basic-styles/src/italic";
import LinkPlugin from "@ckeditor/ckeditor5-link/src/link";
import ParagraphPlugin from "@ckeditor/ckeditor5-paragraph/src/paragraph";
import Base64UploadAdapter from "@ckeditor/ckeditor5-upload/src/adapters/base64uploadadapter";
import Heading from "@ckeditor/ckeditor5-heading/src/heading";
import Font from "@ckeditor/ckeditor5-font/src/font";
import Alignment from "@ckeditor/ckeditor5-alignment/src/alignment";
import Indent from "@ckeditor/ckeditor5-indent/src/indent";
import IndentBlock from "@ckeditor/ckeditor5-indent/src/indentblock";
import List from "@ckeditor/ckeditor5-list/src/list";
import TodoList from "@ckeditor/ckeditor5-list/src/todolist";
import Table from "@ckeditor/ckeditor5-table/src/table";
import TableToolbar from "@ckeditor/ckeditor5-table/src/tabletoolbar";

export default {
  data() {
    return {
      dialog: false,
      dialog1: false,
      dialog2: false,
      counter: 1808,
      search: "",
      type: "",
      title: "",
      price: "",
      content: "",
      headers: [
        {
          text: "Type",
          align: "left",
          sortable: false,
          value: "type"
        },
        { text: "Code", value: ".key" },
        { text: "Title", value: "title" },
        { text: "Price", value: "price" },
        { text: "Action", value: "action", sortable: false }
      ],
      timeLine: [],
      editedIndex: -1,
      editedItem: {
        time: "",
        desc: "",
        image: ""
      },
      defaultItem: {
        time: "",
        desc: "",
        image: ""
      },
      progressUpload: 0,
      fileName: "",
      uploadTask: "",
      uploading: false,
      uploadEnd: false,
      downloadURL: "",
      progressUpload1: 0,
      fileName1: "",
      uploadTask1: "",
      uploading1: false,
      uploadEnd1: false,
      downloadURL1: "",
      progressUpload3: 0,
      fileName3: "",
      uploadTask3: "",
      uploading3: false,
      uploadEnd3: false,
      downloadURL3: "",
      rules: [
        value =>
          !value ||
          value.size < 10000000 ||
          "Image size should be less than 10 MB!"
      ],
      imageUrl: "",
      image: null,
      imageUrl1: "",
      image1: null,
      imageUrl3: "",
      image3: null,
      editor: ClassicEditor,
      editor2: ClassicEditor,
      editorConfig: {
        plugins: [
          EssentialsPlugin,
          BoldPlugin,
          ItalicPlugin,
          LinkPlugin,
          ParagraphPlugin,
          Base64UploadAdapter,
          Heading,
          Font,
          Alignment,
          Indent,
          IndentBlock,
          List,
          TodoList,
          Table,
          TableToolbar
        ],

        toolbar: {
          items: [
            "heading",
            "bold",
            "italic",
            "|",
            "alignment",
            "outdent",
            "indent",
            "|",
            "bulletedList",
            "numberedList",
            "todoList",
            "|",
            "fontSize",
            "fontFamily",
            "fontColor",
            "fontBackgroundColor",
            "link",
            "insertTable"
          ]
        },
        table: {
          contentToolbar: ["tableColumn", "tableRow", "mergeTableCells"]
        }
      },
      editorConfig2: {
        plugins: [
          EssentialsPlugin,
          BoldPlugin,
          ItalicPlugin,
          LinkPlugin,
          ParagraphPlugin,
          Base64UploadAdapter,
          Heading,
          Font,
          Alignment,
          Indent,
          IndentBlock,
          List,
          TodoList,
          Table,
          TableToolbar
        ],

        toolbar: {
          items: [
            "heading",
            "bold",
            "italic",
            "|",
            "alignment",
            "outdent",
            "indent",
            "|",
            "bulletedList",
            "numberedList",
            "todoList",
            "|",
            "fontSize",
            "fontFamily",
            "fontColor",
            "fontBackgroundColor",
            "link",
            "insertTable"
          ]
        },
        table: {
          contentToolbar: ["tableColumn", "tableRow", "mergeTableCells"]
        }
      },
      packagePost: [],
      tbPackage: [],
      activeItem: null,
      modal: null
    };
  },
  firestore() {
    return {
      packagePost: dbFire.collection("packagePost"),
      aboutPost: dbFire.collection("aboutPost").doc("8uGYTpttFhwbfgRHP23B")
    };
  },
  methods: {
    generateUUID: function() {
      // Public Domain/MIT
      var d = new Date().getTime();
      if (
        typeof performance !== "undefined" &&
        typeof performance.now === "function"
      ) {
        d += performance.now(); //use high-precision timer if available
      }
      var newGuid = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
        /[xy]/g,
        function(c) {
          var r = (d + Math.random() * 16) % 16 | 0;
          d = Math.floor(d / 16);
          return (c === "x" ? r : (r & 0x3) | 0x8).toString(16);
        }
      );

      return newGuid;
    },
    closeData() {
      this.dialog = false;
      this.type = "";
      this.title = "";
      this.price = "";
      this.content = "";
      this.timeLine = [];
      this.uploading = false;
      this.uploadEnd = false;
      this.uploadTask = false;
      this.downloadURL = "";
      this.imageUrl = "";
      this.id = "";
      this.image = null;
    },
    addData() {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, update it!"
      }).then(result => {
        if (result.value) {
          if (this.id) {
            this.$firestore.packagePost.doc(this.id).update({
              type: this.type,
              title: this.title,
              price: this.price,
              image: this.downloadURL,
              content: this.content,
              timeLine: this.timeLine,
            });
          } else {
            this.$firestore.packagePost.add({
              type: this.type,
              title: this.title,
              price: this.price,
              image: this.downloadURL,
              content: this.content,
              timeLine: this.timeLine,
            });
          }

          this.$swal("Updated!", "Your file has been Updated.", "success");
        }
        this.closeData();
      });
    },
    editPackage(item) {
      this.id = item[".key"];
      this.type = item.type;
      this.title = item.title;
      this.price = item.price;
      this.downloadURL = item.image;
      this.image = item.image;
      this.content = item.content;
      this.timeLine = item.timeLine;
      this.dialog = true;
    },
    deletePackage(item) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          this.$firestore.packagePost.doc(item[".key"]).delete();
          db.storage()
            .refFromURL(item.image)
            .delete();
          this.$swal("Deleted!", "Your file has been deleted.", "success");
        }
      });
    },
    close() {
      this.dialog1 = false;
      this.uploading1 = false;
      this.uploadEnd1 = false;
      this.uploadTask1 = false;
      this.downloadURL1 = "";
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    addTimeline() {
      if (this.editedIndex > -1) {
        Object.assign(this.timeLine[this.editedIndex], {
          time: this.editedItem.time,
          desc: this.editedItem.desc,
          image: this.downloadURL1
        });
      } else {
        this.timeLine.push({
          time: this.editedItem.time,
          desc: this.editedItem.desc,
          image: this.downloadURL1
        });
      }
      this.close();
    },
    editItem(item) {
      this.editedIndex = this.timeLine.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.downloadURL1 = item.image;
      this.dialog1 = true;
    },
    deleteItem(item) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          const index = this.timeLine.indexOf(item);
          this.$swal("Deleted!", "Your file has been deleted.", "success") &&
            this.timeLine.splice(index, 1) &&
            db
              .storage()
              .refFromURL(item.image)
              .delete();
        }
      });
    },
    //upload image
    onPickFile() {
      this.$refs.fileInput.click();
    },
    selectFile() {
      this.$refs.uploadInput.click();
    },
    detectFiles(e) {
      let fileList = e.target.files || e.dataTransfer.files;
      Array.from(Array(fileList.length).keys()).map(x => {
        this.upload(fileList[x]);
      });
    },
    upload(file) {
      if (file.size > 3072 * 1024) {
        alert("Max image size is 3MB");
        this.value = "";
      } else {
        this.fileName = file.name;
        this.uploading = true;
        this.GUID = this.generateUUID();
        this.uploadTask = db
          .storage()
          .ref("packageImage/" + this.GUID)
          .put(file);
      }
    },
    deleteImage() {
      db.storage()
        .refFromURL(this.downloadURL)
        .delete()
        .then(() => {
          this.uploading = false;
          this.uploadEnd = false;
          this.uploadTask = false;
          this.downloadURL = "";
        })
        .catch(error => {
          alert(`file delete error occured: ${error}`);
        });
      this.$refs.form.reset();
    },
    //upload image timeline
    onPickFile1() {
      this.$refs.fileInput1.click();
    },
    selectFile1() {
      this.$refs.uploadInput1.click();
    },
    detectFiles1(e) {
      let fileList1 = e.target.files || e.dataTransfer.files1;
      Array.from(Array(fileList1.length).keys()).map(x => {
        this.upload1(fileList1[x]);
      });
    },
    upload1(file1) {
      if (file1.size > 2048 * 1024) {
        alert("Max image size is 2MB");
        this.value = "";
      } else {
        this.fileName1 = file1.name;
        this.uploading1 = true;
        this.GUID = this.generateUUID();
        this.uploadTask1 = db
          .storage()
          .ref("packageImage/timeImage/" + this.GUID)
          .put(file1);
        db.storage()
          .refFromURL(this.editedItem.image)
          .delete();
      }
    },
    deleteImage1() {
      db.storage()
        .refFromURL(this.downloadURL1)
        .delete()
        .then(() => {
          this.uploading1 = false;
          this.uploadEnd1 = false;
          this.uploadTask1 = false;
          this.downloadURL1 = "";
        })
        .catch(error => {
          alert(`file delete error occured: ${error}`);
        });
      this.$refs.form.reset();
    },
    //upload image parallax
    uploadParallax() {
      this.$swal({
        position: "top-end",
        type: "success",
        title: "Parallax Image has been saved",
        showConfirmButton: false,
        timer: 1500
      });
      this.$firestore.aboutPost.update({
        imageParallaxPackage: this.downloadURL3
      });
    },
    selectFile3() {
      this.$refs.uploadInput3.click();
    },
    detectFiles3(e) {
      let fileList3 = e.target.files || e.dataTransfer.files3;
      Array.from(Array(fileList3.length).keys()).map(x => {
        this.upload3(fileList3[x]);
      });
    },
    upload3(file3) {
      if (file3.size > 3072 * 1024) {
        alert("Max image size is 3MB");
        this.value = "";
      } else {
        this.fileName3 = file3.name;
        this.uploading3 = true;
        this.GUID = this.generateUUID();
        this.uploadTask3 = db
          .storage()
          .ref("packageImage/" + this.GUID)
          .put(file3);
        db.storage()
          .refFromURL(this.aboutPost.imageParallaxPackage)
          .delete()
          .then(() => {
            this.$firestore.aboutPost.update({
              imageParallaxPackage: ""
            });
          });
      }
    },
    deleteImage3() {
      this.$swal({
        position: "top-end",
        type: "success",
        title: "Parallax Image has been deleted",
        showConfirmButton: false,
        timer: 1500
      });
      db.storage()
        .refFromURL(this.downloadURL3)
        .delete()
        .then(() => {
          this.uploading3 = false;
          this.uploadEnd3 = false;
          this.uploadTask3 = false;
          this.downloadURL3 = "";
        })
        .catch(error => {
          alert(`file delete error occured: ${error}`);
        });
      this.$refs.form.reset();
    }
  },
  watch: {
    uploadTask: function() {
      this.uploadTask.on(
        "state_changed",
        sp => {
          this.progressUpload = Math.floor(
            (sp.bytesTransferred / sp.totalBytes) * 100
          );
        },
        null,
        () => {
          this.uploadTask.snapshot.ref.getDownloadURL().then(downloadURL => {
            this.uploadEnd = true;
            this.downloadURL = downloadURL;
            this.$emit("downloadURL", downloadURL);
          });
        }
      );
    },
    uploadTask1: function() {
      this.uploadTask1.on(
        "state_changed",
        sp => {
          this.progressUpload1 = Math.floor(
            (sp.bytesTransferred / sp.totalBytes) * 100
          );
        },
        null,
        () => {
          this.uploadTask1.snapshot.ref.getDownloadURL().then(downloadURL1 => {
            this.uploadEnd1 = true;
            this.downloadURL1 = downloadURL1;
            this.$emit("downloadURL1", downloadURL1);
          });
        }
      );
    },
    uploadTask3: function() {
      this.uploadTask3.on(
        "state_changed",
        sp => {
          this.progressUpload3 = Math.floor(
            (sp.bytesTransferred / sp.totalBytes) * 100
          );
        },
        null,
        () => {
          this.uploadTask3.snapshot.ref.getDownloadURL().then(downloadURL3 => {
            this.uploadEnd3 = true;
            this.downloadURL3 = downloadURL3;
            this.$emit("downloadURL3", downloadURL3);
          });
        }
      );
    }
  }
};
</script>