<template>
  <div class="Reservation">
    <v-card flat class="transparent">
      <v-card-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        class="transparent"
        :headers="headers"
        :items="reservation"
        :search="search"
        :sort-by="['bookingDate']"
        :sort-desc="[false]"
      >
        <template v-slot:item.action="{ item }">
          <v-btn small class="mr-2" color="teal" @click="detail(item)">Detail</v-btn>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template></template>
      <v-card>
        <v-card-title>
          <span class="headline">Detail</span>
        </v-card-title>
        <v-card-text>
          <v-row no-gutters>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Booking Date</p>
              <p class="mb-4">{{bookingDate}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">First Name</p>
              <p class="mb-4">{{firstName}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Last Name</p>
              <p class="mb-4">{{lastName}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4">{{phone}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-4">{{email}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Line ID</p>
              <p class="mb-4">{{line}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Package Code</p>
              <p class="mb-4">{{codePackage}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Date of Visit</p>
              <p class="mb-4">{{date}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Person</p>
              <p class="mb-4">{{person}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Price</p>
              <p class="mb-4">{{price}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Title</p>
              <p class="mb-4">{{title}}</p>
            </v-col>
            <v-col cols="6" class="px-4 bg-white">
              <p class="mb-0 font-weight-bold">Type</p>
              <p class="mb-4">{{type}}</p>
            </v-col>
            <v-col cols="12" class="px-4 bg-white">
              <img :src="image" width="120px" />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close()">Close</v-btn>
          <v-btn color="blue darken-1" text @click="completeBtn()">Complete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { dbFire } from "@/firebase";

export default {
  data() {
    return {
      id: "",
      person: "",
      codePackage: "",
      packagePost: "",
      firstName: "",
      lastName: "",
      title: "",
      phone: "",
      email: "",
      line: "",
      date: "",
      titlePackage: "",
      price: "",
      image: "",
      bookingDate: "",
      dialog: false,
      search: "",
      headers: [
        {
          text: "Code",
          align: "left",
          sortable: false,
          value: "codePackage"
        },
        { text: "Booking Date", value: "bookingDate" },
        { text: "Date Visit", value: "date" },
        { text: "Name", value: "lastName" },
        { text: "Line", value: "lineId" },
        { text: "Action", value: "action", sortable: false }
      ]
    };
  },
  firestore() {
    return {
      reservation: dbFire.collection("reservation"),
      complete: dbFire.collection("rsvCompleted"),
      dltReservation: dbFire.collection("reservation")
    };
  },
  methods: {
    close() {
      this.id = "";
      this.person = "";
      this.codePackage = "";
      this.packagePost = "";
      this.firstName = "";
      this.lastName = "";
      this.title = "";
      this.phone = "";
      this.email = "";
      this.line = "";
      this.date = "";
      this.titlePackage = "";
      this.price = "";
      this.image = "";
      this.bookingDate = "";
      this.dialog = false;
    },
    detail(item) {
      this.dialog = true;
      this.codePackage = item.codePackage;
      this.firstName = item.firstName;
      this.lastName = item.lastName;
      this.phone = item.phoneNumber;
      this.email = item.email;
      this.line = item.lineId;
      this.date = item.date;
      this.titlePackage = item.title;
      this.price = item.price;
      this.person = item.person;
      this.title = item.title;
      this.type = item.type;
      this.image = item.image;
      this.bookingDate = item.bookingDate;
      this.id = item[".key"];
    },
    completeBtn() {
      this.$swal({
        title: "Are you sure?",
        text: "Confirm to complete the reservation",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Confirm"
      }).then(result => {
        if (result.value) {
          this.$firestore.complete.add({
            firstName: this.firstName,
            lastName: this.lastName,
            phoneNumber: this.phone,
            email: this.email,
            lineId: this.line,
            codePackage: this.codePackage,
            date: this.date,
            person: this.person,
            price: this.price,
            image: this.image,
            bookingDate: this.bookingDate,
            title: this.title,
            type: this.type
          });
          this.$firestore.dltReservation.doc(this.id).delete();
          this.$swal(
            "Completed!",
            "The reservation has been completed.",
            "success"
          );
        }
        this.close();
      });
    }
  }
};
</script>