<template>
  <nav>
    <v-app-bar flat app>
      <v-app-bar-nav-icon dark color="grey" @click="drawer = !drawer" class="hidden-md-and-up"></v-app-bar-nav-icon>
      <v-toolbar-title class="text-uppercase grey--text">
        <span class="font-weight-light">えびぴバリ</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <div class="px-3">
        <v-menu bottom left offset-y transition="slide-y-transition">
          <template v-slot:activator="{ attrs, on }">
            <v-badge overlap color="success" class="px-1">
              <template slot="badge" v-if="notification.length >= 1">{{ notification.length }}</template>
              <v-icon color="grey darken-1" v-bind="attrs" v-on="on">mdi-cart-outline</v-icon>
            </v-badge>
          </template>

          <v-card v-if="notification.length >= 1">
            <v-list dense>
              <v-list-item v-for="notif in notification" :key="notif" @click="deleteNotifs(notif)">
                <v-list-item-content>
                  <v-list-item-title v-text="notif.lastName" />
                  <v-list-item-subtitle>Booked {{notif.title}}</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-action>
                  <v-icon @click="deleteNotif(notif)">mdi-alpha-x-circle-outline</v-icon>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-card>
        </v-menu>
      </div>

      <div class="px-3">
        <v-menu bottom left offset-y transition="slide-y-transition">
          <template v-slot:activator="{ attrs, on }">
            <v-badge overlap color="orange" class="px-1">
              <template slot="badge" v-if="messagesNotif.length >= 1">{{ messagesNotif.length }}</template>
              <v-icon color="grey darken-1" v-bind="attrs" v-on="on">mdi-email-outline</v-icon>
            </v-badge>
          </template>

          <v-card v-if="messagesNotif.length >= 1">
            <v-list dense>
              <v-list-item
                v-for="notification in messagesNotif"
                :key="notification"
                @click="deleteMessages(notification)"
              >
                <v-list-item-content>
                  <v-list-item-title v-text="notification.lastName" />
                  <v-list-item-subtitle>Subject : {{notification.subject}}</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-action>
                  <v-icon @click="deleteMessage(notification)">mdi-alpha-x-circle-outline</v-icon>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-card>
        </v-menu>
      </div>

      <v-btn text class="hidden-xs-only" color="grey" @click="logout()">
        <span>Sign Out</span>
        <v-icon right>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer
      app
      v-model="drawer"
      src="@/assets/sidebar.jpg"
      color="grey darken-2"
      dark
      floating
      mobile-break-point="991"
      persistent
      width="260"
    >
      <template v-slot:img="attrs">
        <v-img v-bind="attrs" gradient="to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)" />
      </template>

      <v-list-item two-line>
        <v-list-item-avatar color="white">
          <v-img src="../../assets/logo.png" height="34" contain />
        </v-list-item-avatar>

        <div row>
          <v-list-item-title class="title text-uppercase">
            <span class="font-weight-light">えびぴバリ</span>
          </v-list-item-title>
          <span class="font-weight-light caption">{{email}}</span>
        </div>
      </v-list-item>

      <v-divider class="mx-3 mb-3" />
      <v-list nav>
        <div />

        <v-list-item
          to="/homePost"
          active-class="primary white--text"
          style="text-decoration:none;"
        >
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>

          <v-list-item-title>ホーム</v-list-item-title>
        </v-list-item>

        <v-list-item
          to="/aboutPost"
          active-class="primary white--text"
          style="text-decoration:none;"
        >
          <v-list-item-action>
            <v-icon>mdi-account-box</v-icon>
          </v-list-item-action>

          <v-list-item-title>アバウト</v-list-item-title>
        </v-list-item>

        <v-list-item
          to="/contactPost"
          active-class="primary white--text"
          style="text-decoration:none;"
        >
          <v-list-item-action>
            <v-icon>mdi-contact-mail</v-icon>
          </v-list-item-action>

          <v-list-item-title>問い合わせ</v-list-item-title>
        </v-list-item>

        <v-list-item
          to="/packagePost"
          active-class="primary white--text"
          style="text-decoration:none;"
        >
          <v-list-item-action>
            <v-icon>mdi-package</v-icon>
          </v-list-item-action>

          <v-list-item-title>ツアーメニュー</v-list-item-title>
        </v-list-item>

        <v-list-item
          to="/recTourPost"
          active-class="primary white--text"
          style="text-decoration:none;"
        >
          <v-list-item-action>
            <v-icon>mdi-sale</v-icon>
          </v-list-item-action>

          <v-list-item-title>オススメ</v-list-item-title>
        </v-list-item>

        <v-list-item
          to="/packageTourPost"
          active-class="primary white--text"
          style="text-decoration:none;"
        >
          <v-list-item-action>
            <v-icon>fas fa-box</v-icon>
          </v-list-item-action>

          <v-list-item-title>ツアーパッケージ</v-list-item-title>
        </v-list-item>

        <v-list-item
          to="/messages"
          active-class="primary white--text"
          style="text-decoration:none;"
        >
          <v-list-item-action>
            <v-icon>mdi-email</v-icon>
          </v-list-item-action>

          <v-list-item-title>メッセージ</v-list-item-title>
        </v-list-item>

        <v-list-group
          prepend-icon="mdi-cart-outline"
          active-class="white--text"
          style="text-decoration:none;"
          to="/reservation"
        >
          <template v-slot:activator>
            <v-list-item-title>ご予約</v-list-item-title>
          </template>

          <v-list-item
            v-for="(item, i) in reservation"
            :key="i"
            :to="item.route"
            active-class="primary white--text"
            style="text-decoration:none;"
          >
            <v-list-item-title v-text="item.text" class="pl-8" />
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
          </v-list-item>
        </v-list-group>
      </v-list>

      <div class="pt-8 hidden-sm-and-up">
        <v-list nav>
          <v-divider class="mx-3 mb-3" />
          <v-list-item @click="logout()">
            <v-list-item-action>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-action>

            <v-list-item-title class="font-weight-light">Sign Out</v-list-item-title>
          </v-list-item>
        </v-list>
      </div>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import { db, dbFire } from "@/firebase";
export default {
  data() {
    return {
      notification: [],
      messagesNotif: [],
      show: false,
      drawer: true,
      item: 1,
      email: "",
      items: [
        { text: "Dashboard", icon: "mdi-view-dashboard", route: "/dashboard" },
        { text: "Home", icon: "mdi-home", route: "/homePost" },
        { text: "About", icon: "mdi-account-box", route: "/aboutPost" },
        { text: "Contact", icon: "mdi-contact-mail", route: "/contactPost" },
        { text: "Messages", icon: "mdi-email", route: "/messages" },
        { text: "Tour Menu", icon: "mdi-package", route: "/packagePost" },
        {
          text: "Recommended Tour",
          icon: "mdi-package",
          route: "/recTourPost"
        },
        {
          text: "Package Tour",
          icon: "fas fa-box",
          route: "/packageTourPost"
        },
        {
          text: "Reservation",
          icon: "mdi-cart-outline",
          route: "/reservation"
        },
        {
          text: "Completed",
          icon: "fas fa-shopping-bag",
          route: "/rsvComplete"
        }
      ],
      reservation: [
        {
          text: "プロセス",
          icon: "mdi-progress-download",
          route: "/reservation"
        },
        {
          text: "完成しました",
          icon: "mdi-check",
          route: "/rsvComplete"
        }
      ]
    };
  },
  firestore() {
    return {
      notification: dbFire.collection("rsvNotification"),
      messagesNotif: dbFire.collection("messagesNotif")
    };
  },
  methods: {
    deleteNotifs(notif) {
      this.$firestore.notification.doc(notif[".key"]).delete();
      this.$router.replace("/reservation");
    },
    deleteNotif(notif) {
      this.$firestore.notification.doc(notif[".key"]).delete();
    },
    deleteMessages(notification) {
      this.$firestore.messagesNotif.doc(notification[".key"]).delete();
      this.$router.replace("/messages");
    },
    deleteMessage(notification) {
      this.$firestore.messagesNotif.doc(notification[".key"]).delete();
    },
    logout() {
      db.auth()
        .signOut()
        .then(() => {
          this.$router.replace("/");
        });
    }
  },
  created() {
    let user = db.auth().currentUser;
    this.email = user.email;
  }
};
</script>