<template>
  <div class="about">
    <v-content>
      <section>
        <v-parallax :src="aboutus.imageParallax" height="700">
          <div class="container">
            <div class="row align-items-center justify-content-center text-center">
              <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
                <v-layout align-center justify-center class="white--text">
                  <h1
                    data-aos="fade-right"
                    class="ebipibali white--text mb-2 display-2 text-center"
                    v-resize-text="{ ratio: 1.6, delay: 500, maxFontSize: '10px', minFontSize: '1px' }"
                  >えびぴバリ</h1>
                  <div data-aos="fade-left" class="subheading mb-4 text-center pb-5 pl-1">Tour</div>
                </v-layout>
                <div>
                  <a href="/" class="bold">ホーム</a>
                  <span class="mx-2 text-white">&bullet;</span>
                  <span class="text-white">アバウト</span>
                </div>
              </div>
            </div>
          </div>
        </v-parallax>
      </section>

      <section>
        <v-layout
          column
          wrap
          class="mt-12 mb-n10"
          align-center
          v-resize-text="{ ratio: 1.6, delay: 500, maxFontSize: '15px', minFontSize: '1px' }"
        >
          <v-flex xs12 sm4 class="my-4" data-aos="fade-up">
            <div class="text-center">
              <h2 class="text-uppercase display-3">アバウト</h2>
              <v-card
                class="transparent text-uppercase"
                flat
                v-resize-text="{ ratio: 1.6, delay: 500, maxFontSize: '45px' }"
              >
                <span class="font-weight-light text--black bold">えびぴバリ</span>
              </v-card>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                <v-flex xs12 md4>
                  <v-card data-aos="fade-up" flat class="transparent">
                    <v-img :src="aboutus.image" height="350" contain lazy-src></v-img>
                  </v-card>
                </v-flex>
                <v-flex xs12 md8>
                  <v-card data-aos="fade-down" flat class="transparent">
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-center" v-text="aboutus.title"></div>
                    </v-card-title>
                    <v-card-text class="text-justify" v-html="aboutus.content"></v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <div class="site-section">
        <div class="container">
          <div class="row justify-content-center mb-5" data-aos="fade-up">
            <div class="col-md-7">
              <h2 class="font-weight-light text-black text-center">Our Team</h2>
            </div>
          </div>
          <div class="row" data-aos="fade-up">
            <div
              class="col-md-6 col-lg-4 text-center mb-5"
              v-for="(team, i) in paginatedTeam"
              :key="i"
            >
              <v-avatar width="190" height="190" class="mb-4">
                <img :src="team.image" alt="Image" />
              </v-avatar>
              <h2 class="text-black font-weight-light">{{ team.name }}</h2>
              <h5 class="caption mb-4 teal--text mt-n1">{{ team.role }}</h5>
              <p class="mb-4" v-html="team.desc"></p>
              <p>
                <a :href="team.twitter" target="_blank" class="pl-0 pr-3">
                  <span class="icon-twitter"></span>
                </a>
                <a :href="team.instagram" target="_blank" class="pl-3 pr-3">
                  <span class="icon-instagram"></span>
                </a>
                <a :href="team.facebook" target="_blank" class="pl-3 pr-3">
                  <span class="icon-facebook"></span>
                </a>
              </p>
            </div>
          </div>
          <v-layout align-center data-aos="fade-up" data-aos-delay="400">
            <v-flex xs3>
              <v-btn
                v-if="page !== 1"
                class="ml-0"
                color="#78909c"
                title="Previous page"
                square
                @click="page--"
              >
                <v-icon>mdi-chevron-left</v-icon>
              </v-btn>
            </v-flex>

            <v-flex xs6 subheading class="text-center">PAGE {{ page }} OF {{ pages }}</v-flex>

            <v-flex xs3 class="text-end">
              <v-btn
                v-if="pages > 1 && page < pages"
                class="mr-0"
                color="#78909c"
                title="Next page"
                square
                @click="page++"
              >
                <v-icon>mdi-chevron-right</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </div>
      </div>
      <div class="site-section border-top" data-aos="fade-up">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h2 class="mb-5 text-black">一緒にバリ島回りませんか？</h2>
              <p class="mb-0">
                <a @click="bookLink()" class="btn btn-primary py-3 px-5 text-white">ご予約</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </v-content>
  </div>
</template>

<script>
import { dbFire } from "@/firebase";

export default {
  name: "About",
  data() {
    return {
      aboutus: [],
      page: 1,
      contacts: [
        { icon: "mdi-whatsapp", src: "https://www.whatsapp.com/" },
        { icon: "mdi-instagram", src: "https://instagram.com/" },
        { icon: "Line", src: "https://line.me/id/" },
        { icon: "mdi-facebook-box", src: "https://facebook.com/" },
        { icon: "mdi-twitter-box", src: "https://twitter.com/" }
      ]
    };
  },
  firestore() {
    return {
      aboutus: dbFire.collection("aboutPost").doc("NQ3SRUzg93cm7WDvXnzW"),
      contactus: dbFire.collection("aboutPost").doc("8uGYTpttFhwbfgRHP23B")
    };
  },
  methods: {
    bookLink() {
      this.$router.replace("/package");
    }
  },
  computed: {
    pages() {
      return Math.ceil(this.aboutus.team.length / 3);
    },
    paginatedTeam() {
      const start = (this.page - 1) * 3;
      const stop = this.page * 3;

      return this.aboutus.team.slice(start, stop);
    }
  }
};
</script>

<style>
.container h1 {
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 2px 3px 0 red;
}
</style>