<template>
  <div>
    <v-content>
      <section>
        <v-parallax :src="contact.imageParallax" height="700">
          <div class="container">
            <div class="row align-items-center justify-content-center text-center">
              <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
                <v-layout align-center justify-center class="white--text">
                  <h1
                    data-aos="fade-right"
                    class="white--text mb-2 display-2 text-center"
                    v-resize-text="{ ratio: 1.6, delay: 500, maxFontSize: '10px', minFontSize: '1px' }"
                  >えびぴバリ</h1>
                  <div data-aos="fade-left" class="subheading mb-4 text-center pb-5 pl-1">Tour</div>
                </v-layout>
                <div>
                  <a href="/" class="bold">ホーム</a>
                  <span class="mx-2 text-white">&bullet;</span>
                  <span class="text-white">問い合わせ</span>
                </div>
              </div>
            </div>
          </div>
        </v-parallax>
      </section>
      <section>
        <div class="site-section bg-light">
          <div class="container">
            <div class="row">
              <div class="col-md-7 mb-5">
                <div class="p-4 mb-3 bg-white" data-aos="fade-left" data-aos-delay="400">
                  <v-row justify="center" align="center">
                    <p>ご予約や問い合わせはラインからです</p>
                    <v-btn :href="contact.line" target="_blank" class="mx-8 my-5" icon>
                      <v-icon size="50px" color="green">fab fa-line</v-icon>
                    </v-btn>
                  </v-row>
                </div>
                <v-card flat class="px-8 py-12" data-aos="fade-left" data-aos-delay="400">
                  <v-form ref="form" v-model="valid" lazy-validation>
                    <v-row no-gutters>
                      <v-col cols="12" sm="6" class="px-3 pb-2">
                        <v-text-field
                          outlined
                          label="名前"
                          :rules="[v => !!v || 'First Name is required']"
                          v-model="messages.firstName"
                          required
                        />
                      </v-col>
                      <v-col cols="12" sm="6" class="px-3 pb-2">
                        <v-text-field
                          outlined
                          label="姓"
                          :rules="[v => !!v || 'Last Name is required']"
                          v-model="messages.lastName"
                          required
                        />
                      </v-col>
                      <v-col cols="12" sm="6" class="px-3 pb-2">
                        <v-text-field
                          v-mask="mask"
                          label="電話番号"
                          outlined
                          :rules="[v => !!v || 'Phone Number is required']"
                          v-model="messages.phoneNumber"
                          required
                          hint="Indonesia = +62 , Japan = +81"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" class="px-3 pb-2">
                        <v-text-field
                          outlined
                          label="イーメイル"
                          :rules="emailRules"
                          required
                          v-model="messages.email"
                        />
                      </v-col>
                      <v-col cols="12" sm="12" class="px-3 pb-2">
                        <v-text-field
                          outlined
                          label="ラインID"
                          append-icon="fab fa-line"
                          :rules="[v => !!v || 'Line ID is required']"
                          v-model="messages.lineId"
                          required
                        />
                      </v-col>
                      <v-col cols="12" sm="12" class="px-3 pb-2">
                        <v-text-field
                          outlined
                          label="Subject"
                          :rules="[v => !!v || 'Subject is required']"
                          v-model="messages.subject"
                          required
                        />
                      </v-col>
                      <v-col cols="12" sm="12" class="px-3 pb-2">
                        <v-textarea
                          label="Notes"
                          placeholder="Write your notes or question here..."
                          auto-grow
                          outlined
                          rows="8"
                          :rules="[v => !!v || 'Note is required']"
                          v-model="messages.notes"
                          required
                        ></v-textarea>
                      </v-col>
                    </v-row>
                  </v-form>
                  <div align="end" class="px-3">
                    <input
                      type="submit"
                      value="Send Message"
                      class="btn btn-primary py-2 px-4 text-white"
                      :disabled="!valid"
                      @click="validate()"
                    />
                  </div>
                </v-card>
              </div>
              <div class="col-md-5" data-aos="fade-right">
                <div class="p-4 mb-3 bg-white">
                  <p class="mb-0 font-weight-bold">Address</p>
                  <p class="mb-4">{{contact.address}}</p>

                  <p class="mb-0 font-weight-bold">Phone</p>
                  <p class="mb-4">{{contact.phone}}</p>

                  <p class="mb-0 font-weight-bold">Email Address</p>
                  <p class="mb-4">{{contact.email}}</p>

                  <p class="mb-0 font-weight-bold">Social Media</p>
                  <p class="mb-0">
                    <v-btn :href="contact.line" target="_blank" class="pl-3 pr-3" icon>
                      <v-icon size="25px" color="green">fab fa-line</v-icon>
                    </v-btn>
                    <v-btn :href="contact.instagram" target="_blank" class="pl-3 pr-3" icon>
                      <v-icon size="25px" color="#405DE6">fab fa-instagram</v-icon>
                    </v-btn>
                    <v-btn :href="contact.whatsapp" target="_blank" class="pl-3 pr-3" icon>
                      <v-icon size="25px" color="green">fab fa-whatsapp</v-icon>
                    </v-btn>
                  </p>
                </div>

                <div class="p-4 mb-3 bg-white" data-aos="fade-right">
                  <v-img
                    :src="about.image"
                    alt="Image"
                    max-height="400"
                    class="img-fluid mb-4 rounded"
                    contain
                  />
                  <h3 class="h5 text-black mb-3">More Info</h3>
                  <p v-html="about.content"></p>
                  <p>
                    <a href="/about" class="btn btn-primary px-4 py-2 text-white">Learn More</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="site-section border-top" data-aos="fade-up">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h2 class="mb-5 text-black">一緒にバリ島回りませんか？</h2>
              <p class="mb-0">
                <a @click="bookLink()" class="btn btn-primary py-3 px-5 text-white">ご予約</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </v-content>
  </div>
</template>

<script>
import { dbFire } from "@/firebase";
import { mask } from "vue-the-mask";

export default {
  directives: {
    mask
  },
  data() {
    return {
      valid: true,
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      ],
      mask: "+###-####-####-####",
      date: new Date().toISOString().substr(0, 10),
      messages: {
        firstName: "",
        lastName: "",
        phoneNumber: "",
        email: "",
        subject: "",
        lineId: "",
        notes: ""
      },
      defaultMessages: {
        firstName: "",
        lastName: "",
        phoneNumber: "",
        email: "",
        subject: "",
        lineId: "",
        notes: ""
      }
    };
  },
  firestore() {
    return {
      messages: dbFire.collection("messages"),
      messagesNotif: dbFire.collection("messagesNotif"),
      contact: dbFire.collection("aboutPost").doc("8uGYTpttFhwbfgRHP23B"),
      about: dbFire.collection("aboutPost").doc("NQ3SRUzg93cm7WDvXnzW")
    };
  },
  methods: {
    bookLink() {
      this.$router.replace("/package");
    },
    clearData() {
      setTimeout(() => {
        this.messages = Object.assign({}, this.defaultMessages);
      }, 300);
    },
    validate() {
      if (this.$refs.form.validate()) {
        this.addMessages();
      }
    },
    addMessages() {
      this.$swal({
        title: "Are you sure?",
        text: "Confirm to submit",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Confirm"
      }).then(result => {
        if (result.value) {
          this.$firestore.messages.add({
            firstName: this.messages.firstName,
            lastName: this.messages.lastName,
            phoneNumber: this.messages.phoneNumber,
            email: this.messages.email,
            date: this.date,
            lineId: this.messages.lineId,
            subject: this.messages.subject,
            notes: this.messages.notes
          });
          this.$firestore.messagesNotif.add({
            lastName: this.messages.lastName,
            subject: this.messages.subject,
            notes: this.messages.notes
          });
          this.$swal(
            "Thanks",
            "Your message will be followed up by our team within 24 hours, make sure to check your email and line.",
            "success"
          );
        }
        this.clearData();
        this.$router.replace("/");
      });
    }
  }
};
</script>