<template>
  <div class="home">
    <v-carousel hide-delimiters cycle show-arrows-on-hover height="700px">
      <v-carousel-item v-for="(item,i) in homePost.carousels" :key="i" :src="item.image">
        <v-row class="fill-height" align="center" justify="center">
          <v-col class="text-center" cols="8">
            <div data-aos="fade-up" data-aos-delay="1200">
              <h1 class="text-white font-weight-light">{{item.title}}</h1>
              <br />
              <p>
                <a @click="bookLink()" class="btn btn-primary py-3 px-5 text-white">ご予約</a>
              </p>
            </div>
          </v-col>
        </v-row>
      </v-carousel-item>
    </v-carousel>

    <section>
      <v-layout
        column
        wrap
        class="mt-5"
        align-center
        v-resize-text="{ ratio: 1.6, delay: 500, maxFontSize: '15px', minFontSize: '1px' }"
      >
        <v-flex xs12 sm4 class="my-4" data-aos="fade-up">
          <div class="text-center">
            <h2 class="text-uppercase display-2">ようこそえびぴバリへ</h2>
          </div>
        </v-flex>
        <v-flex xs12>
          <v-container grid-list-xl>
            <v-layout row wrap align-center>
              <v-flex xs12 md4>
                <v-card data-aos="fade-up" flat class="transparent">
                  <v-img src="@/assets/logo.png" height="350"></v-img>
                </v-card>
              </v-flex>
              <v-flex xs12 md8>
                <v-card data-aos="fade-down" flat class="transparent">
                  <v-card-title primary-title class="layout justify-center">
                    <div>
                      <span
                        class="font-weight-light text-uppercase font-italic font-weight-light"
                      >{{homePost.title}}</span>
                    </div>
                  </v-card-title>
                  <v-card-text class="text-justify" v-html="homePost.subTitle"></v-card-text>
                  <v-card-text class="text-justify" v-html="homePost.content"></v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </section>

    <div class="site-section">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="zoom-in-left">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4">
                <v-img src="../assets/icon/002-trekking.png" max-width="50px"></v-img>
              </div>
              <div>
                <h3>アバウト</h3>
                <p>{{homePost.aboutus}}</p>
                <p>
                  <a @click="aboutLink()" class="blue--text">Learn More</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="zoom-in-up">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4">
                <v-img src="../assets/icon/033-beach-1.png" max-width="50px"></v-img>
              </div>
              <div>
                <h3>問い合わせ</h3>
                <p>{{homePost.contactus}}</p>
                <p>
                  <a @click="contactLink()" class="blue--text">Learn More</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="zoom-in-right">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4">
                <v-img src="../assets/icon/035-travel.png" max-width="50px"></v-img>
              </div>
              <div>
                <h3>ツアーパッケージ</h3>
                <p>{{homePost.tourPackage}}</p>
                <p>
                  <a @click="bookLink()" class="blue--text">Learn More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section>
      <v-parallax src="../assets/1.jpg" height="600">
        <v-layout
          column
          align-center
          justify-center
          v-resize-text="{ ratio: 1.6, delay: 500, maxFontSize: '15px', minFontSize: '1px' }"
        >
          <div class="container">
            <div class="row align-items-center justify-content-center text-center">
              <div class="col-md-7" data-aos="fade-up" data-aos-delay="400">
                <a href="/package" class="play-single-big mb-4 d-inline-block popup-vimeo">
                  <span class="icon-play"></span>
                </a>
                <h2 class="text-white font-weight-light mb-5 h1">えびぴバリツアーのサービスを経験しましょう</h2>
              </div>
            </div>
          </div>
        </v-layout>
      </v-parallax>
    </section>

    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center" data-aos="fade-up-right">
            <h2 class="font-weight-light text-black display-1">お客様の行きたい所に合わせています</h2>
          </div>
        </div>
        <div class="row">
          <v-container grid-list-xl>
            <v-layout wrap data-aos="fade-down-left">
              <v-flex xs12>
                <slot />
              </v-flex>
              <feed-card
                v-for="(item, i) in paginatedPackages"
                :key="item.id"
                :size="layout[i]"
                :value="item"
              />
            </v-layout>
          </v-container>
        </div>
      </div>
    </div>
    <div class="site-section border-top" data-aos="fade-up">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <h2 class="mb-5 text-black">一緒にバリ島回りませんか？</h2>
            <p class="mb-0">
              <a @click="bookLink()" class="btn btn-primary py-3 px-5 text-white">ご予約</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { dbFire } from "@/firebase";
import { mapState } from "vuex";

export default {
  name: "Home",
  components: {
    FeedCard: () => import("../components/FeedCards")
  },
  data() {
    return {
      layout: [2, 2, 2, 2],
      page: 1,
      packagePost: [],
      data: "<h1>ssssssss</h1>",
      book: "/package",
      posts: [],
      errors: [],
      japan: [
        {
          imageUrl:
            "https://images.wallpaperscraft.com/image/gate_silhouette_loneliness_131018_3840x2400.jpg",
          title: "Never Stop Exploring"
        },
        {
          imageUrl:
            "https://adulting101blog.com/wp-content/uploads/2019/04/dominic-krainer-1381989-unsplash.jpg",
          title: "Never Stop Exploring"
        },
        {
          imageUrl: "https://wallpaperaccess.com/full/441179.jpg",
          title: "Never Stop Exploring"
        }
      ]
    };
  },
  firestore() {
    return {
      posts: dbFire.collection("homePost"),
      packagePost: dbFire.collection("packagePost"),
      homePost: dbFire.collection("homePost").doc("HCmnhq4RUzSvm987YuAq")
    };
  },
  methods: {
    bookLink() {
      this.$router.replace("/package");
    },
    aboutLink() {
      this.$router.replace("/about");
    },
    contactLink() {
      this.$router.replace("/contactus");
    }
  },
  computed: {
    ...mapState(["packages"]),
    pages() {
      return Math.ceil(this.packages.length / 4);
    },
    paginatedPackages() {
      const start = (this.page - 1) * 4;
      const stop = this.page * 4;

      return this.packages.slice(start, stop);
    }
  },

  watch: {
    page() {
      window.scrollTo(0, 0);
    }
  }
};
</script>