<template>
  <div class="promo">
    <flex xs12>
      <v-img
        src="https://wallpaperplay.com/walls/full/7/b/e/125074.jpg"
        class="grey lighten-2"
        height="380px"
      ></v-img>
    </flex>
    <flex xs12>
      <content>
        <v-card
          class="transparent text-uppercase text-center pt-5 px-4"
          flat
          v-resize-text="{ratio: 1.6, delay: 500, maxFontSize: '45px'}"
        >
          <span class="font-weight-light">Special Promo</span>
        </v-card>
        <v-container class="transparent text-center px-12">
          <v-card
            class="transparent text-justify py-6"
            flat
            v-resize-text="{ratio: 1.6, delay: 500, maxFontSize: '15px', minFontSize: '1px'}"
          >
            <v-text class="font-weight-light px-12">
              konten
              <br />
            </v-text>
          </v-card>
        </v-container>
      </content>
    </flex>
  </div>
</template>

<script>
export default {
  name: "Promo"
};
</script>