<template>
  <div class="package">
    <section>
      <section>
        <v-parallax class="parallax" :src="packagePost.imageParallaxRecTour" height="700">
          <div class="container">
            <div class="row align-items-center justify-content-center text-center">
              <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
                <v-layout align-center justify-center class="white--text">
                  <h1
                    data-aos="fade-right"
                    class="white--text mb-2 display-2 text-center"
                    v-resize-text="{ ratio: 1.6, delay: 500, maxFontSize: '10px', minFontSize: '1px' }"
                  >えびぴバリ</h1>
                  <div data-aos="fade-left" class="subheading mb-4 text-center pb-5 pl-1">Tour</div>
                </v-layout>
                <div>
                  <a href="/">ホーム</a>
                  <span class="mx-2 text-white">&bullet;</span>
                  <span class="text-white">オススメ</span>
                </div>
              </div>
            </div>
          </div>
        </v-parallax>
      </section>
    </section>
    <section id="feed">
      <Feed />
    </section>
  </div>
</template>

<script>
import Feed from "../components/FeedsRecTour";
import { dbFire } from "@/firebase";

export default {
  name: "Package",
  components: {
    Feed
  },
  data() {
    return {
      package: []
    };
  },
  firestore() {
    return {
      packagePost: dbFire.collection("aboutPost").doc("8uGYTpttFhwbfgRHP23B")
    };
  }
};
</script>