.App {
  text-align: center;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Gotham Rounded, sans-serif;
	font-weight: normal;
}

body {
	padding: 0;
	margin: 0;
	background: #55efc4;
	background-image: radial-gradient(50% 30% ellipse at center top, #00b894 0%, rgba(0, 0, 0, 0) 100%),
		radial-gradient(60% 50% ellipse at center bottom, #74b9ff 0%, #00cec9 100%);
	background-attachment: fixed;
}

.calculator-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-keypad {
	display: grid;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-keypad button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	background-color: rgba(255, 255, 255, 0.7);
}

.calculator-keypad button:hover {
	background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previousOperand {
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.5rem;
}

.output .currentOperand {
	color: white;
	font-size: 2.5rem;
}
