<template>
  <div>
    <v-container class="my-12">
      <v-row align="center">
        <v-col cols="12">
          <v-card class="pt-1 px-6 align-center" flat>
            <v-card-title data-aos="fade-left" class="justify-center">
              <h2 v-text="detailPackageTour.type" />
              <v-spacer></v-spacer>
              <div class="input-group-append">
                <v-btn
                  color="indigo"
                  large
                  class="btn btn-primary text-white"
                  type="button"
                  id="button-addon2"
                  href="#book"
                >ご予約</v-btn>
              </div>
            </v-card-title>
            <v-img data-aos="fade-right" :src="detailPackageTour.image" height="400px" class></v-img>
            <v-card-text data-aos="fade-up" class="text-justify">
              <div class="info--text" v-text="detailPackageTour.title"></div>
              <div v-html="detailPackageTour.content"></div>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12">
          <H2
            class="text-center display-2 text-uppercase"
            data-aos="fade-up"
            data-aos-delay="600"
          >タイムスケジュール</H2>
          <br />
          <v-card class="transparent pt-1 px-6" flat>
            <v-timeline :dense="$vuetify.breakpoint.smAndDown">
              <v-timeline-item
                data-aos="fade-up"
                v-for="(item, i) in detailPackageTour.timeLine"
                :key="i"
                color="blue-grey darken-4"
                icon="mdi-star"
                fill-dot
              >
                <h5 class="font-weight-light" slot="opposite">{{item.time}}</h5>
                <v-card color="grey lighten-3">
                  <v-container>
                    <v-row align="center">
                      <v-col cols="12" md="7" class="px-8 text-justify">
                        <h5 class="font-weight-light hidden-md-and-up">{{item.time}}</h5>
                        <p>{{item.desc.substring(0, 300) + ".."}}</p>
                      </v-col>
                      <v-col cols="12" md="5" align="center">
                        <v-img
                          :src="item.image"
                          max-height="300"
                          alt="Image"
                          class="img-fluid mb-4 rounded"
                        ></v-img>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card>
              </v-timeline-item>
            </v-timeline>
          </v-card>
        </v-col>
      </v-row>
      <div id="book">
        <v-row>
          <v-col cols="12" sm="8">
            <div class="p-4 mb-3 bg-white" data-aos="fade-left" data-aos-delay="400">
              <v-row justify="center" align="center">
                <p>ご予約や問い合わせはラインからです</p>
                <v-btn :href="contact.line" target="_blank" class="mx-8 my-5" icon>
                  <v-icon size="60px" color="green">fab fa-line</v-icon>
                </v-btn>
              </v-row>
            </div>
            <v-card flat class="px-8 py-12" data-aos="fade-left" data-aos-delay="400">
              <div align="center">
                <h2 class="mb-5 text-black">ご予約</h2>
              </div>

              <v-form ref="form" v-model="valid" lazy-validation>
                <v-row no-gutters>
                  <v-col cols="12" sm="6" class="px-3">
                    <v-text-field
                      outlined
                      label="名前"
                      v-model="reservation.firstName"
                      :rules="[v => !!v || 'First Name is required']"
                      required
                    />
                  </v-col>
                  <v-col cols="12" sm="6" class="px-3">
                    <v-text-field
                      outlined
                      label="姓"
                      v-model="reservation.lastName"
                      :rules="[v => !!v || 'Last Name is required']"
                      required
                    />
                  </v-col>
                  <v-col cols="12" sm="6" class="px-3">
                    <v-text-field
                      v-mask="mask"
                      label="電話番号"
                      v-model="reservation.phoneNumber"
                      outlined
                      :rules="[v => !!v || 'Phone Number is required']"
                      required
                      hint="Indonesia = +62 , Japan = +81"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" class="px-3">
                    <v-text-field
                      outlined
                      label="イーメイル"
                      v-model="reservation.email"
                      :rules="emailRules"
                      required
                    />
                  </v-col>
                  <v-col cols="12" sm="12" class="px-3">
                    <v-select
                      :items="person"
                      label="Person"
                      outlined
                      v-model="reservation.person"
                      :rules="[v => !!v || 'Person is required']"
                      required
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" class="px-3">
                    <span>Date of Visit</span>
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="date"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="date"
                          outlined
                          prepend-inner-icon="mdi-calendar"
                          v-on="on"
                          :rules="[v => !!v || 'Date of visit is required']"
                          required
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="date" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                        <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" sm="12" class="px-3 mb-2">
                    <v-text-field
                      outlined
                      label="ラインID"
                      append-icon="fab fa-line"
                      v-model="reservation.lineId"
                      :rules="[v => !!v || 'Line ID is required']"
                      required
                    />
                  </v-col>
                  <v-col cols="12" sm="12" class="px-3">
                    <v-textarea
                      label="Notes"
                      placeholder="Write your notes or question here/ Example : Please Contact me on Line! "
                      auto-grow
                      outlined
                      rows="8"
                      v-model="reservation.notes"
                      :rules="[v => !!v || 'Note is required']"
                      required
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-form>
              <div align="end" class="px-3">
                <input
                  type="submit"
                  value="Send Message"
                  class="btn btn-primary py-2 px-4 text-white"
                  :disabled="!valid"
                  @click="validate()"
                />
              </div>
            </v-card>
          </v-col>

          <v-col cols="12" sm="4">
            <div class="px-6 py-6 mb-4 bg-white" data-aos="fade-right">
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">{{contact.address}}</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4">{{contact.phone}}</p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-4">{{contact.email}}</p>

              <p class="mb-0 font-weight-bold">Social Media</p>
              <p class="mb-0">
                <v-btn :href="contact.instagram" target="_blank" class="pl-3 pr-3" icon>
                  <v-icon size="20px" color="#405DE6">fab fa-instagram</v-icon>
                </v-btn>
                <v-btn :href="contact.whatsapp" target="_blank" class="pl-3 pr-3" icon>
                  <v-icon size="20px" color="green">fab fa-whatsapp</v-icon>
                </v-btn>
                <v-btn :href="contact.line" target="_blank" class="pl-3 pr-3" icon>
                  <v-icon size="20px" color="green">fab fa-line</v-icon>
                </v-btn>
              </p>
            </div>

            <div class="p-4 mb-3 bg-white" data-aos="fade-right">
              <v-img :src="about.image" alt="Image" height="300" class="img-fluid mb-4 rounded" />
              <h3 class="h5 text-black mb-3">More Info</h3>
              <p v-html="about.content"></p>
              <p>
                <a href="/about" class="btn btn-primary px-4 py-2 text-white">Learn More</a>
              </p>
            </div>
          </v-col>
        </v-row>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mask } from "vue-the-mask";
import { dbFire } from "@/firebase";

export default {
  directives: {
    mask
  },
  data: () => ({
    valid: true,
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],
    reservation: {
      firstName: "",
      lastName: "",
      phoneNumber: "",
      email: "",
      person: "",
      lineId: "",
      notes: ""
    },
    defaultReservation: {
      firstName: "",
      lastName: "",
      phoneNumber: "",
      email: "",
      person: "",
      lineId: "",
      notes: ""
    },
    mask: "+###-####-####-####",
    person: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10++"],
    date: new Date().toISOString().substr(0, 10),
    menu: false,
    layout: [2, 2, 2, 2],
    page: 1,
    items: [
      {
        color: "red lighten-2",
        icon: "mdi-star"
      },
      {
        color: "purple darken-1",
        icon: "mdi-book-variant"
      },
      {
        color: "green lighten-1",
        icon: "mdi-airballoon"
      },
      {
        color: "indigo",
        icon: "mdi-buffer"
      }
    ]
  }),
  props: ["id"],
  firestore() {
    return {
      reservation: dbFire.collection("reservation"),
      notification: dbFire.collection("rsvNotification"),
      contact: dbFire.collection("aboutPost").doc("8uGYTpttFhwbfgRHP23B"),
      about: dbFire.collection("aboutPost").doc("NQ3SRUzg93cm7WDvXnzW")
    };
  },
  methods: {
    clearData() {
      setTimeout(() => {
        this.reservation = Object.assign({}, this.defaultReservation);
        this.date = new Date().toISOString().substr(0, 10);
      }, 300);
    },
    validate() {
      if (this.$refs.form.validate()) {
        this.addReservation();
      }
    },
    addReservation() {
      this.$swal({
        title: "Are you sure?",
        text: "Confirm for the reservation",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Confirm"
      }).then(result => {
        if (result.value) {
          this.$firestore.reservation.add({
            firstName: this.reservation.firstName,
            lastName: this.reservation.lastName,
            phoneNumber: this.reservation.phoneNumber,
            email: this.reservation.email,
            person: this.reservation.person,
            bookingDate: new Date().toISOString().substr(0, 10),
            date: this.date,
            lineId: this.reservation.lineId,
            notes: this.reservation.notes,
            codePackage: this.detailPackageTour.id,
            title: this.detailPackageTour.title,
            type: this.detailPackageTour.type,
            price: this.detailPackageTour.price,
            image: this.detailPackageTour.image
          });
          this.$firestore.notification.add({
            lastName: this.reservation.lastName,
            codePackage: this.detailPackageTour.id,
            title: this.detailPackageTour.title
          });
          this.$swal(
            "Thanks for the reservation",
            "Your reservation will be followed up by our team within 24 hours, make sure to check your email and line.",
            "success"
          );
        }
        this.clearData();
        this.$router.replace("/");
      });
    }
  },
  computed: {
    detailPackageTour() {
      return this.$store.getters.detailPackageTour(this.id);
    }
  }
};
</script>