<template>
  <v-flex xs12 :class="classes">
    <v-card
      flat
      tile
      height="350"
      color="grey lighten-1"
      dark
      data-aos="fade-left"
      data-aos-delay="600"
    >
      <v-img :src="value.image" height="100%" gradient="rgba(0, 0, 0, .42), rgba(0, 0, 0, .42)">
        <v-layout v-if="!value.prominent" fill-height wrap text-xs-right ma-0>
          <v-flex xs12>
            <v-chip
              label
              class="mx-0 mb-2 text-uppercase"
              color="grey darken-3"
              text-color="white"
              small
              :to="'/package/' + value.id"
            >{{ value.type }}</v-chip>
            <h3 class="title font-weight-bold mb-2">{{ value.title }}</h3>
            <div class="caption">
              Price
              <br />
              {{ value.price }}
            </div>
          </v-flex>

          <v-flex class="align-self-end text-right">
            <v-chip
              class="text-uppercase ma-0"
              color="primary"
              label
              small
              :to="'/package/' + value.id"
            >Read More</v-chip>
          </v-flex>
        </v-layout>
      </v-img>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    size: {
      type: Number,
      required: true
    },
    value: {
      type: Object,
      default: () => ({})
    }
  },
  methods: {
    onLoadPackage(id) {
      this.$router.push("/package/" + id);
    }
  },
  computed: {
    classes() {
      return {
        md6: this.size === 2,
        md4: this.size === 3
      };
    }
  }
};
</script>

<style>
.v-image__image {
  transition: 0.3s linear;
}
</style>
