<template>
  <v-container grid-list-xl>
    <v-layout wrap>
      <v-flex xs12>
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center" data-aos="fade-up-right">
            <h2 class="font-weight-light text-black display-2">ツアーパッケージ</h2>
          </div>
        </div>
        <slot />
      </v-flex>

      <feed-card
        v-for="(item, i) in paginatedPackages"
        :key="item.id"
        :size="layout[i]"
        :value="item"
      />
    </v-layout>

    <v-layout align-center>
      <v-flex xs3>
        <v-btn
          v-if="page !== 1"
          class="ml-0"
          color="#78909c"
          title="Previous page"
          square
          @click="page--"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-flex>

      <v-flex xs6 subheading class="text-center">PAGE {{ page }} OF {{ pages }}</v-flex>

      <v-flex xs3 class="text-end">
        <v-btn
          v-if="pages > 1 && page < pages"
          class="mr-0"
          color="#78909c"
          title="Next page"
          square
          @click="page++"
        >
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// Utilities
import { mapState } from "vuex";

export default {
  name: "Feed",

  components: {
    FeedCard: () => import("./FeedCardPack")
  },

  data: () => ({
    layout: [2, 2, 1, 2, 2, 3, 3, 3, 3, 3, 3],
    page: 1,
    id: ""
  }),

  computed: {
    ...mapState(["packageTour"]),
    pages() {
      return Math.ceil(this.packageTour.length / 11);
    },
    paginatedPackages() {
      const start = (this.page - 1) * 11;
      const stop = this.page * 11;

      return this.packageTour.slice(start, stop);
    }
  },

  watch: {
    page() {
      window.scrollTo(0, 0);
    }
  }
};
</script>
