<template>
  <v-footer white padless class="blue-grey lighten-5 py-7" dense>
    <v-row no-gutters justify="center">
      <v-col cols="12" md="4" class="py-1">
        <v-card
          class="transparent text-uppercase text-center"
          v-resize-text="{ratio: 0.6, delay: 500, maxFontSize: '45px'}"
          flat
        >
          <span class="font-weight-light">えびぴバリ</span>
        </v-card>
      </v-col>
      <v-col cols="12" md="4" class="py-1">
        <v-card class="transparent text-uppercase body-2 text-center" flat>
          <v-btn :href="contact.line" target="_blank" class="mx-3 my-3" icon>
            <v-icon size="33px" color="green">fab fa-line</v-icon>
          </v-btn>
          <v-btn :href="contact.instagram" target="_blank" class="mx-3 my-3" icon>
            <v-icon size="33px" color="#405DE6">fab fa-instagram</v-icon>
          </v-btn>
          <v-btn :href="contact.whatsapp" target="_blank" class="mx-3 my-3" icon>
            <v-icon size="33px" color="green">fab fa-whatsapp</v-icon>
          </v-btn>
        </v-card>
      </v-col>
      <v-col cols="12" md="4" class="text-justify body-2 py-1">
        <v-card
          class="transparent text-center"
          flat
          v-resize-text="{ratio: 0.6, delay: 500, maxFontSize: '5px'}"
        >CONTACT INFO</v-card>
        <v-card
          class="transparent font-weight-light text-center"
          flat
          v-resize-text="{ratio: 0.6, delay: 500, maxFontSize: '5px'}"
        >{{contact.address}}</v-card>
        <v-card
          class="transparent font-weight-light text-center"
          flat
          v-resize-text="{ratio: 0.6, delay: 500, maxFontSize: '5px'}"
        >Ph: {{contact.phone}}</v-card>
        <v-card
          class="transparent text-center"
          flat
          v-resize-text="{ratio: 0.6, delay: 500, maxFontSize: '5px'}"
        >{{contact.email}}</v-card>
      </v-col>
      <v-col cols="12" justify="center" align="center">
        <p>Copyright &copy;{{date}} ebipibali | All rights reserved.</p>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
import { dbFire } from "@/firebase";

export default {
  data() {
    return {
      date: new Date().toISOString().substr(0, 4)
    };
  },
  firestore() {
    return {
      contact: dbFire.collection("aboutPost").doc("8uGYTpttFhwbfgRHP23B")
    };
  }
};
</script>