<template>
  <nav>
    <v-app-bar flat color="black" dense fixed>
      <v-app-bar-nav-icon dark color="grey" class="hidden-sm-and-up" @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-img src="@/assets/logo.png" max-width="45"></v-img>
      <v-toolbar-title class="white--text">
        <h1 class="ebipibali white--text mt-1 title">えびぴバリ</h1>
      </v-toolbar-title>

      <v-spacer></v-spacer>
      <v-btn
        text
        class="hidden-xs-only"
        color="grey"
        v-for="(item, i) in items"
        :key="i"
        router
        :to="item.route"
        style="text-decoration: none;"
      >
        <span v-text="item.text"></span>
        <v-icon v-text="item.icon" right></v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      color="grey darken-2"
      app
      temporary
      src="@/assets/sidebar.jpg"
      dark
      floating
      mobile-break-point="991"
      persistent
      class="hidden-sm-and-up"
    >
      <template v-slot:img="attrs">
        <v-img v-bind="attrs" gradient="to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)" />
      </template>
      <v-list flat dark class="text-uppercase grey--text">
        <v-subheader color="grey">メニュー</v-subheader>
        <v-list-item-group v-model="item" color="grey">
          <v-list-item
            v-for="(item, i) in items"
            :key="i"
            router
            :to="item.route"
            active-class="primary white--text"
            style="text-decoration:none;"
          >
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
      item: 1,
      items: [
        { text: "ホーム", icon: "mdi-home", route: "/" },
        { text: "アバウト", icon: "mdi-account-box", route: "/about" },
        {
          text: "ツアーメニュー",
          icon: "mdi-wallet-giftcard",
          route: "/package"
        },
        { text: "ツアーパッケージ", icon: "fas fa-box", route: "/packageTour" },
        { text: "オススメ", icon: "mdi-sale", route: "/recTour" },
        {
          text: "問い合わせ",
          icon: "mdi-account-badge-horizontal",
          route: "/contactus"
        }
      ]
    };
  }
};
</script>

<style>
h1 {
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 2px 3px 0 red;
}
</style>